## 주가 데이터 수집을 위한 pykrx 모듈

- 설치

In [1]:
!pip install pykrx

Collecting pykrx
  Downloading pykrx-1.0.45-py3-none-any.whl (2.2 MB)
Requirement already satisfied: pandas in c:\users\kim56\anaconda3\lib\site-packages (from pykrx) (1.4.2)
Requirement already satisfied: requests in c:\users\kim56\anaconda3\lib\site-packages (from pykrx) (2.27.1)
Requirement already satisfied: xlrd in c:\users\kim56\anaconda3\lib\site-packages (from pykrx) (2.0.1)
Requirement already satisfied: multipledispatch in c:\users\kim56\anaconda3\lib\site-packages (from pykrx) (0.6.0)
Collecting datetime
  Downloading DateTime-5.2-py3-none-any.whl (52 kB)
Requirement already satisfied: numpy in c:\users\kim56\anaconda3\lib\site-packages (from pykrx) (1.21.6)
Collecting deprecated
  Downloading Deprecated-1.2.14-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: matplotlib in c:\users\kim56\anaconda3\lib\site-packages (from pykrx) (3.5.1)
Requirement already satisfied: zope.interface in c:\users\kim56\anaconda3\lib\site-packages (from datetime->pykrx) (5.4.0)
Requirement already satisfied: pytz in c:\users\kim56\anaconda3\lib\site-packages (from datetime->pykrx) (2023.3)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\kim56\anaconda3\lib\site-packages (from deprecated->pykrx) (1.12.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\kim56\anaconda3\lib\site-packages (from matplotlib->pykrx) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\kim56\anaconda3\lib\site-packages (from matplotlib->pykrx) (0.11.0)
Requirement already satisfied: packaging>=20.0 in c:\users\kim56\anaconda3\lib\site-packages (from matplotlib->pykrx) (21.3)
Requirement already satisfied: pillow>=6.2.0 in c:\users\kim56\anaconda3\lib\site-packages (from matplotlib->pykrx) (9.0.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\kim56\anaconda3\lib\site-packages (from matplotlib->pykrx) (3.0.4)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\kim56\anaconda3\lib\site-packages (from matplotlib->pykrx) (4.25.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\kim56\anaconda3\lib\site-packages (from matplotlib->pykrx) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\kim56\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib->pykrx) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\kim56\anaconda3\lib\site-packages (from requests->pykrx) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kim56\anaconda3\lib\site-packages (from requests->pykrx) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\kim56\anaconda3\lib\site-packages (from requests->pykrx) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\kim56\anaconda3\lib\site-packages (from requests->pykrx) (2.0.4)
Requirement already satisfied: setuptools in c:\users\kim56\anaconda3\lib\site-packages (from zope.interface->datetime->pykrx) (61.2.0)
Installing collected packages: deprecated, datetime, pykrx
Successfully installed datetime-5.2 deprecated-1.2.14 pykrx-1.0.45

In [9]:
!pip install pytimekr # 공휴일 데이터 처리를 위한 패키지

ERROR: Invalid requirement: '#'

## Import Module

In [51]:
from pykrx import stock

import pandas as pd
import numpy as np

from pytimekr import pytimekr
import datetime
from datetime import timedelta

import time
import pickle

## Some Useful User-Defined Functions

In [17]:
# 날짜 index 생성을 위한 함수 정의
def get_str_date_range(start, end, freq = 'BM'): # BM : 주말이 아닌 평일 중 각 달의 가장 마지막 날
    dr = list(pd.date_range(start, end, freq = freq))
    for i in range(len(dr)):
        date = dr[i].date()
        # 거래소가 개장하지 않는 경우에는 그 전날, 혹은 그 전전날의 주가 데이터를 가져옴.
        # ex. 공휴일, 주말, 경우에 따라 12월 30일이나 31일
        while (date in pytimekr.holidays(year=date.year)) or (date.weekday() >= 5) or (date.month == 12 and date.day >= 30) : 
            date = date - timedelta(days = 1)
        dr[i] = date.strftime("%Y%m%d")
        
    return dr

- 특정 기간의 종목코드 및 종목명 데이터프레임 반환

In [3]:
def get_all_ticker_m(start, end):
    
    """ 특정 기간 동안 KOSPI 시장에 상장했던 모든 종목의 ticker 검색 """
    
    date_range = get_str_date_range(start, end)
    results = pd.DataFrame(columns = ['티커'])

    for date in date_range : 
        ticker = pd.DataFrame(stock.get_market_ticker_list(date), columns = ['티커'])
        results = pd.merge(results, ticker, how = 'outer', on = '티커')
        
    return results
    
def get_stock_info_m(start, end):
    
    """ 특정 기간 동안 KOSPI 시장에 상장했던 모든 종목 정보 검색 """
    
    tickers = get_all_ticker_m(start, end)
    names = pd.DataFrame([stock.get_market_ticker_name(ticker) for ticker in tickers['티커']], columns = ['종목명'])
    results = pd.concat([names, tickers], axis = 1)
    return results

## Stock Price Return Data Preparing & Preprocessing

In [4]:
# 시작일과 종료일을 인수로 받아 해당 기간의 장내 모든 종목의 주가 데이터프레임을 반환하는 함수
def get_price_m(start, end):
    
    """ 특정 기간 동안 KOSPI 시장 내의 모든 종목들의 주가 데이터(종가만) 검색 """
    
    results = pd.DataFrame()
    date_idx = get_str_date_range(start, end, freq='BM')
    print('\tStart to Load the Stock Price Data ...')
    for date in date_idx : 
        ks = stock.get_market_ohlcv(date).reset_index()   #장내 모든 종목의 OHLC 데이터
        ks['날짜'] = pd.to_datetime(date) 
        results = pd.concat([results, ks], axis = 0)
        print(f'\t\t{pd.to_datetime(date).date()} completed.')
        time.sleep(0.5) # KRX 정보 시스템에서의 차단 방지를 위해 time.sleep()으로 지연.
    
    return results[['티커', '종가', '날짜' ]].reset_index(drop = True)

def get_all_stock_m(start, end):
    
    """ 특정 기간 동안 KOSPI 시장 내의 모든 종목들에 대한 정보와 주가 데이터 함께 검색 """
    """ KRX 차단을 막기 위해 어쩔 수 없이 지연시키는 과정에서 실행에 오랜 시간이 걸릴 수 있음 """
    
    stock_info = get_stock_info_m(start, end)
    stock_price = get_price_m(start, end)
    
    return pd.merge(stock_info, stock_price, how = 'inner', on = '티커')

In [6]:
start = '20030101'
end = '20221231'

In [5]:
market = get_all_stock_m(start, end)
market

NameError: name 'start' is not defined

## BE, ME Factor Data Preparing & Preprocessing

In [7]:
#시작일과 종료일을 인자로 받아 해당 기간 동안의 PBR 데이터를 수집. 이를 통해 BE/ME 팩터 수익률 계산하여 데이터프레임으로 반환.
def get_BPR_m(start, end):
    results = pd.DataFrame()
    date_range = get_str_date_range(start, end)
    print('\tStart to Load the Book Equity Data ...')
    for date in date_range : 
        bpr = stock.get_market_fundamental(date).reset_index()[['티커', 'PBR']]   #장내 모든 종목의 PBR 데이터
        bpr = bpr.loc[bpr['PBR'] > 0]    # PBR을 역수를 취해줄 때 inf가 되는 것을 방지하기 위해 PBR이 0인 종목은 제외.
        bpr['날짜'] = pd.to_datetime(date) 
        bpr['BE/ME'] = 1/bpr['PBR']
        bpr = bpr[['티커', 'BE/ME', '날짜']]

        results = pd.concat([results, bpr], axis = 0)
        print(f'\t\t{pd.to_datetime(date).date()} completed.')
        time.sleep(0.5)
    
    return results

#시작일과 종료일을 인자로 받아 해당 기간 동안의 시가총액(ME) 데이터를 수집. 이를 통해 Size 팩터 수익률 계산하여 데이터프레임으로 반환.
def get_ME_m(start, end):
    results = pd.DataFrame()
    date_range = get_str_date_range(start, end)
    print('\tStart to Load the Market Equity Data ...')
    for date in date_range : 
        me = stock.get_market_cap(date).reset_index()[['티커', '시가총액']] # 장내 모든 종목의 시가총액 데이터
        me.columns = ['티커', 'ME']
        me['날짜'] = pd.to_datetime(date)
        results = pd.concat([results, me], axis = 0)
        print(f'\t\t{pd.to_datetime(date).date()} completed.')
        time.sleep(0.5)
        
    return results

#위의 두 함수를 통해 만들어진 데이터프레임을 inner join을 활용하여 하나의 데이터프레임으로 반환.
def get_fundamental_m(start, end):
    bpr = get_BPR_m(start, end)
    me = get_ME_m(start, end)
    
    fundamental = pd.merge(bpr, me, how = 'inner', on = ['티커', '날짜'])
    fundamental['BE'] = fundamental['BE/ME'] * fundamental['ME']
    
    fundamental = fundamental[['티커', 'BE', 'ME', 'BE/ME', '날짜']]
    
    return fundamental

In [95]:
#시작일과 종료일을 인자로 받아 해당 기간 동안의 PBR 데이터를 수집. 이를 통해 BE/ME 팩터 수익률 계산하여 데이터프레임으로 반환.
def get_value_factor(start, end):
    results = []
    date_range = get_str_date_range(start, end)
    print('\tStart to Load the Book Equity Data ...')
    for date in date_range : 
        start = time.time()
        values = stock.get_market_fundamental(date).reset_index()
        while values['PER'].sum() <= 0 : 
            date = str(int(date) - 1)
            values = stock.get_market_fundamental(date).reset_index()
        values['날짜'] = pd.to_datetime(date) 
        values = values[['티커', '날짜', 'BPS', 'PER', 'PBR']]
        results.append(values)
        time.sleep(0.5)
        print(f'\t\t{pd.to_datetime(date).date()} completed.', end = '')
        end = time.time()
        print(f'({end - start : .3f} sec)')
    
    
    return pd.concat(results)

def get_cap(start, end):
    results = []
    date_range = get_str_date_range(start, end)
    print('\tStart to Load the Market Equity Data ...')
    for date in date_range : 
        start = time.time()
        cap = stock.get_market_cap(date).reset_index()[['티커', '시가총액']] # 장내 모든 종목의 시가총액 데이터
        while cap['시가총액'].sum() <= 0 : 
            date = str(int(date) - 1)
            cap = stock.get_market_cap(date).reset_index()[['티커', '시가총액']] 
        cap['날짜'] = pd.to_datetime(date)
        results.append(cap)
        
        time.sleep(0.5)
        end = time.time()
        print(f'\t\t{pd.to_datetime(date).date()} completed.')
        print(f'({end - start : .3f} sec)')
        
    return pd.concat(results)

def get_fundamental(start, end) : 
    results = []
    value = get_value_factor(start, end)
    cap = get_cap(start, end)
    
    return pd.merge(value, cap, on = ['티커', '날짜'])

In [96]:
fundamental = get_fundamental(start, end)
fundamental

	Start to Load the Book Equity Data ...
		2003-01-30 completed.( 3.626 sec)
		2003-02-28 completed.( 2.349 sec)
		2003-03-31 completed.( 2.348 sec)
		2003-04-30 completed.( 2.285 sec)
		2003-05-30 completed.( 2.122 sec)
		2003-06-30 completed.( 1.920 sec)
		2003-07-31 completed.( 1.689 sec)
		2003-08-29 completed.( 1.470 sec)
		2003-09-30 completed.( 1.410 sec)
		2003-10-31 completed.( 1.673 sec)
		2003-11-28 completed.( 1.216 sec)
		2003-12-29 completed.( 1.296 sec)
		2004-01-30 completed.( 3.505 sec)
		2004-02-27 completed.( 2.220 sec)
		2004-03-31 completed.( 2.359 sec)
		2004-04-30 completed.( 2.163 sec)
		2004-05-31 completed.( 1.960 sec)
		2004-06-30 completed.( 1.407 sec)
		2004-07-30 completed.( 1.769 sec)
		2004-08-31 completed.( 1.441 sec)
		2004-09-30 completed.( 1.442 sec)
		2004-10-29 completed.( 1.534 sec)
		2004-11-30 completed.( 1.765 sec)
		2004-12-29 completed.( 1.257 sec)
		2005-01-31 completed.( 3.027 sec)
		2005-02-28 completed.( 2.605 sec)
		2005-03-31 completed.( 2.265 sec)
		2005-04-29 completed.( 1.879 sec)
		2005-05-31 completed.( 2.252 sec)
		2005-06-30 completed.( 1.925 sec)
		2005-07-29 completed.( 1.654 sec)
		2005-08-31 completed.( 1.877 sec)
		2005-09-30 completed.( 2.027 sec)
		2005-10-31 completed.( 1.480 sec)
		2005-11-30 completed.( 1.600 sec)
		2005-12-29 completed.( 1.295 sec)
		2006-01-31 completed.( 3.511 sec)
		2006-02-28 completed.( 3.844 sec)
		2006-03-31 completed.( 2.875 sec)
		2006-04-28 completed.( 2.883 sec)
		2006-05-30 completed.( 2.992 sec)
		2006-06-30 completed.( 2.128 sec)
		2006-07-31 completed.( 1.914 sec)
		2006-08-31 completed.( 1.616 sec)
		2006-09-29 completed.( 1.590 sec)
		2006-10-31 completed.( 1.604 sec)
		2006-11-30 completed.( 1.346 sec)
		2006-12-28 completed.( 1.862 sec)
		2007-01-31 completed.( 2.558 sec)
		2007-02-28 completed.( 2.292 sec)
		2007-03-30 completed.( 2.291 sec)
		2007-04-30 completed.( 2.451 sec)
		2007-05-31 completed.( 2.547 sec)
		2007-06-29 completed.( 2.590 sec)
		2007-07-31 completed.( 2.603 sec)
		2007-08-31 completed.( 2.498 sec)
		2007-09-28 completed.( 2.239 sec)
		2007-10-31 completed.( 2.449 sec)
		2007-11-30 completed.( 2.697 sec)
		2007-12-28 completed.( 2.291 sec)
		2008-01-31 completed.( 2.466 sec)
		2008-02-29 completed.( 2.224 sec)
		2008-03-31 completed.( 2.602 sec)
		2008-04-30 completed.( 2.551 sec)
		2008-05-30 completed.( 2.565 sec)
		2008-06-30 completed.( 2.578 sec)
		2008-07-31 completed.( 3.250 sec)
		2008-08-29 completed.( 2.793 sec)
		2008-09-30 completed.( 3.013 sec)
		2008-10-31 completed.( 3.401 sec)
		2008-11-28 completed.( 2.955 sec)
		2008-12-29 completed.( 2.816 sec)
		2009-01-30 completed.( 2.871 sec)
		2009-02-27 completed.( 2.874 sec)
		2009-03-31 completed.( 2.448 sec)
		2009-04-30 completed.( 2.770 sec)
		2009-05-29 completed.( 2.791 sec)
		2009-06-30 completed.( 3.214 sec)
		2009-07-31 completed.( 3.295 sec)
		2009-08-31 completed.( 2.761 sec)
		2009-09-30 completed.( 2.867 sec)
		2009-10-30 completed.( 2.944 sec)
		2009-11-30 completed.( 2.499 sec)
		2009-12-29 completed.( 2.870 sec)
		2010-01-29 completed.( 3.555 sec)
		2010-02-26 completed.( 3.335 sec)
		2010-03-31 completed.( 3.415 sec)
		2010-04-30 completed.( 3.765 sec)
		2010-05-31 completed.( 3.327 sec)
		2010-06-30 completed.( 3.795 sec)
		2010-07-30 completed.( 3.511 sec)
		2010-08-31 completed.( 3.480 sec)
		2010-09-30 completed.( 3.755 sec)
		2010-10-29 completed.( 3.905 sec)
		2010-11-30 completed.( 4.183 sec)
		2010-12-29 completed.( 4.529 sec)
		2011-01-31 completed.( 4.761 sec)
		2011-02-28 completed.( 3.687 sec)
		2011-03-31 completed.( 3.963 sec)
		2011-04-29 completed.( 4.503 sec)
		2011-05-31 completed.( 4.477 sec)
		2011-06-30 completed.( 3.847 sec)
		2011-07-29 completed.( 4.175 sec)
		2011-08-31 completed.( 4.615 sec)
		2011-09-30 completed.( 4.976 sec)
		2011-10-31 completed.( 4.474 sec)
		2011-11-30 completed.( 4.834 sec)
		2011-12-29 completed.( 4.635 sec)
		2012-01-31 completed.( 4.289 sec)
		2012-02-29 completed.( 4.137 sec)
		2012-03-30 completed.( 3.882 sec)
		2012-04-30 completed.( 3.506 sec)
		2012-05-31 completed.( 3.352 sec)
		2012-06-29 completed.( 3.021 sec)
		2012-07-31 completed.( 3.196 sec)
		2012-08-31 completed.( 3.592 sec)
		2012-09-28 completed.( 3.151 sec)
		2012-10-31 completed.( 3.197 sec)
		2012-11-30 completed.( 3.848 sec)
		2012-12-28 completed.( 2.882 sec)
		2013-01-31 completed.( 3.524 sec)
		2013-02-28 completed.( 3.192 sec)
		2013-03-29 completed.( 3.613 sec)
		2013-04-30 completed.( 3.432 sec)
		2013-05-31 completed.( 3.273 sec)
		2013-06-28 completed.( 4.744 sec)
		2013-07-31 completed.( 1.898 sec)
		2013-08-30 completed.( 3.238 sec)
		2013-09-30 completed.( 1.620 sec)
		2013-10-31 completed.( 1.522 sec)
		2013-11-29 completed.( 1.604 sec)
		2013-12-27 completed.( 1.599 sec)
		2014-01-29 completed.( 1.478 sec)
		2014-02-28 completed.( 1.369 sec)
		2014-03-31 completed.( 1.501 sec)
		2014-04-30 completed.( 1.748 sec)
		2014-05-30 completed.( 1.613 sec)
		2014-06-30 completed.( 1.576 sec)
		2014-07-31 completed.( 1.494 sec)
		2014-08-29 completed.( 1.776 sec)
		2014-09-30 completed.( 1.570 sec)
		2014-10-31 completed.( 1.630 sec)
		2014-11-28 completed.( 1.533 sec)
		2014-12-29 completed.( 1.510 sec)
		2015-01-30 completed.( 1.375 sec)
		2015-02-27 completed.( 1.281 sec)
		2015-03-31 completed.( 1.599 sec)
		2015-04-30 completed.( 1.294 sec)
		2015-05-29 completed.( 1.307 sec)
		2015-06-30 completed.( 1.244 sec)
		2015-07-31 completed.( 1.279 sec)
		2015-08-31 completed.( 1.605 sec)
		2015-09-30 completed.( 1.350 sec)
		2015-10-30 completed.( 1.466 sec)
		2015-11-30 completed.( 1.510 sec)
		2015-12-29 completed.( 1.432 sec)
		2016-01-29 completed.( 1.592 sec)
		2016-02-29 completed.( 1.601 sec)
		2016-03-31 completed.( 1.598 sec)
		2016-04-29 completed.( 1.402 sec)
		2016-05-31 completed.( 1.522 sec)
		2016-06-30 completed.( 1.556 sec)
		2016-07-29 completed.( 1.602 sec)
		2016-08-31 completed.( 1.504 sec)
		2016-09-30 completed.( 1.690 sec)
		2016-10-31 completed.( 1.625 sec)
		2016-11-30 completed.( 1.653 sec)
		2016-12-29 completed.( 1.855 sec)
		2017-01-31 completed.( 1.978 sec)
		2017-02-28 completed.( 1.741 sec)
		2017-03-31 completed.( 1.600 sec)
		2017-04-28 completed.( 1.714 sec)
		2017-05-31 completed.( 1.656 sec)
		2017-06-30 completed.( 1.853 sec)
		2017-07-31 completed.( 1.617 sec)
		2017-08-31 completed.( 2.017 sec)
		2017-09-29 completed.( 1.804 sec)
		2017-10-31 completed.( 1.616 sec)
		2017-11-30 completed.( 1.638 sec)
		2017-12-28 completed.( 2.598 sec)
		2018-01-31 completed.( 1.794 sec)
		2018-02-28 completed.( 1.975 sec)
		2018-03-30 completed.( 1.611 sec)
		2018-04-30 completed.( 1.911 sec)
		2018-05-31 completed.( 1.916 sec)
		2018-06-29 completed.( 1.587 sec)
		2018-07-31 completed.( 1.459 sec)
		2018-08-31 completed.( 1.745 sec)
		2018-09-28 completed.( 1.613 sec)
		2018-10-31 completed.( 1.657 sec)
		2018-11-30 completed.( 1.556 sec)
		2018-12-28 completed.( 1.374 sec)
		2019-01-31 completed.( 1.526 sec)
		2019-02-28 completed.( 1.440 sec)
		2019-03-29 completed.( 1.508 sec)
		2019-04-30 completed.( 1.335 sec)
		2019-05-31 completed.( 1.432 sec)
		2019-06-28 completed.( 1.638 sec)
		2019-07-31 completed.( 1.558 sec)
		2019-08-30 completed.( 1.388 sec)
		2019-09-30 completed.( 1.474 sec)
		2019-10-31 completed.( 1.400 sec)
		2019-11-29 completed.( 1.522 sec)
		2019-12-27 completed.( 1.589 sec)
		2020-01-31 completed.( 1.560 sec)
		2020-02-28 completed.( 1.642 sec)
		2020-03-31 completed.( 1.596 sec)
		2020-04-29 completed.( 1.603 sec)
		2020-05-29 completed.( 1.605 sec)
		2020-06-30 completed.( 1.597 sec)
		2020-07-31 completed.( 1.598 sec)
		2020-08-31 completed.( 1.597 sec)
		2020-09-29 completed.( 1.464 sec)
		2020-10-30 completed.( 1.412 sec)
		2020-11-30 completed.( 1.545 sec)
		2020-12-29 completed.( 1.671 sec)
		2021-01-29 completed.( 1.647 sec)
		2021-02-26 completed.( 1.554 sec)
		2021-03-31 completed.( 1.592 sec)
		2021-04-30 completed.( 1.919 sec)
		2021-05-31 completed.( 1.546 sec)
		2021-06-30 completed.( 1.375 sec)
		2021-07-30 completed.( 1.392 sec)
		2021-08-31 completed.( 1.771 sec)
		2021-09-30 completed.( 1.619 sec)
		2021-10-29 completed.( 1.463 sec)
		2021-11-30 completed.( 1.717 sec)

		2021-12-29 completed.( 1.507 sec)
		2022-01-28 completed.( 1.390 sec)
		2022-02-28 completed.( 1.279 sec)
		2022-03-31 completed.( 1.608 sec)
		2022-04-29 completed.( 1.523 sec)
		2022-05-31 completed.( 1.401 sec)
		2022-06-30 completed.( 1.232 sec)
		2022-07-29 completed.( 1.619 sec)
		2022-08-31 completed.( 1.594 sec)
		2022-09-30 completed.( 1.632 sec)
		2022-10-31 completed.( 1.529 sec)
		2022-11-30 completed.( 1.291 sec)
		2022-12-29 completed.( 1.316 sec)
	Start to Load the Market Equity Data ...
		2003-01-30 completed.
( 2.542 sec)
		2003-02-28 completed.
( 1.675 sec)
		2003-03-31 completed.
( 1.351 sec)
		2003-04-30 completed.
( 1.442 sec)
		2003-05-30 completed.
( 1.273 sec)
		2003-06-30 completed.
( 1.674 sec)
		2003-07-31 completed.
( 1.473 sec)
		2003-08-29 completed.
( 1.348 sec)
		2003-09-30 completed.
( 1.596 sec)
		2003-10-31 completed.
( 1.347 sec)
		2003-11-28 completed.
( 1.554 sec)
		2003-12-29 completed.
( 1.301 sec)
		2004-01-30 completed.
( 2.188 sec)
		2004-02-27 completed.
( 1.678 sec)
		2004-03-31 completed.
( 1.254 sec)
		2004-04-30 completed.
( 1.677 sec)
		2004-05-31 completed.
( 1.304 sec)
		2004-06-30 completed.
( 1.528 sec)
		2004-07-30 completed.
( 1.523 sec)
		2004-08-31 completed.
( 1.393 sec)
		2004-09-30 completed.
( 1.193 sec)
		2004-10-29 completed.
( 1.287 sec)
		2004-11-30 completed.
( 1.671 sec)
		2004-12-29 completed.
( 1.283 sec)
		2005-01-31 completed.
( 2.119 sec)
		2005-02-28 completed.
( 1.615 sec)
		2005-03-31 completed.
( 1.299 sec)
		2005-04-29 completed.
( 1.316 sec)
		2005-05-31 completed.
( 1.722 sec)
		2005-06-30 completed.
( 1.406 sec)
		2005-07-29 completed.
( 1.299 sec)
		2005-08-31 completed.
( 1.288 sec)
		2005-09-30 completed.
( 1.263 sec)
		2005-10-31 completed.
( 1.513 sec)
		2005-11-30 completed.
( 1.398 sec)
		2005-12-29 completed.
( 1.287 sec)
		2006-01-31 completed.
( 2.518 sec)
		2006-02-28 completed.
( 1.291 sec)
		2006-03-31 completed.
( 1.677 sec)
		2006-04-28 completed.
( 1.272 sec)
		2006-05-30 completed.
( 2.377 sec)
		2006-06-30 completed.
( 1.447 sec)
		2006-07-31 completed.
( 1.725 sec)
		2006-08-31 completed.
( 1.268 sec)
		2006-09-29 completed.
( 1.266 sec)
		2006-10-31 completed.
( 1.438 sec)
		2006-11-30 completed.
( 1.604 sec)
		2006-12-28 completed.
( 2.511 sec)
		2007-01-31 completed.
( 1.354 sec)
		2007-02-28 completed.
( 1.564 sec)
		2007-03-30 completed.
( 1.327 sec)
		2007-04-30 completed.
( 1.688 sec)
		2007-05-31 completed.
( 1.546 sec)
		2007-06-29 completed.
( 1.576 sec)
		2007-07-31 completed.
( 1.634 sec)
		2007-08-31 completed.
( 1.544 sec)
		2007-09-28 completed.
( 1.363 sec)
		2007-10-31 completed.
( 1.367 sec)
		2007-11-30 completed.
( 1.448 sec)
		2007-12-28 completed.
( 1.543 sec)
		2008-01-31 completed.
( 1.751 sec)
		2008-02-29 completed.
( 1.496 sec)
		2008-03-31 completed.
( 1.599 sec)
		2008-04-30 completed.
( 1.341 sec)
		2008-05-30 completed.
( 1.864 sec)
		2008-06-30 completed.
( 1.589 sec)
		2008-07-31 completed.
( 1.587 sec)
		2008-08-29 completed.
( 1.303 sec)
		2008-09-30 completed.
( 1.558 sec)
		2008-10-31 completed.
( 1.671 sec)
		2008-11-28 completed.
( 1.567 sec)
		2008-12-29 completed.
( 1.690 sec)
		2009-01-30 completed.
( 1.515 sec)
		2009-02-27 completed.
( 1.524 sec)
		2009-03-31 completed.
( 1.676 sec)
		2009-04-30 completed.
( 1.599 sec)
		2009-05-29 completed.
( 1.466 sec)
		2009-06-30 completed.
( 1.374 sec)
		2009-07-31 completed.
( 1.606 sec)
		2009-08-31 completed.
( 1.346 sec)
		2009-09-30 completed.
( 1.574 sec)
		2009-10-30 completed.
( 1.592 sec)
		2009-11-30 completed.
( 1.654 sec)
		2009-12-29 completed.
( 1.346 sec)
		2010-01-29 completed.
( 1.478 sec)
		2010-02-26 completed.
( 1.615 sec)
		2010-03-31 completed.
( 1.640 sec)
		2010-04-30 completed.
( 1.674 sec)
		2010-05-31 completed.
( 1.530 sec)
		2010-06-30 completed.
( 1.456 sec)
		2010-07-30 completed.
( 1.860 sec)
		2010-08-31 completed.
( 1.888 sec)
		2010-09-30 completed.
( 1.410 sec)
		2010-10-29 completed.
( 1.741 sec)
		2010-11-30 completed.
( 1.895 sec)
		2010-12-29 completed.
( 1.467 sec)
		2011-01-31 completed.
( 1.749 sec)
		2011-02-28 completed.
( 1.609 sec)
		2011-03-31 completed.
( 1.562 sec)
		2011-04-29 completed.
( 1.638 sec)
		2011-05-31 completed.
( 1.540 sec)
		2011-06-30 completed.
( 1.740 sec)
		2011-07-29 completed.
( 1.531 sec)
		2011-08-31 completed.
( 2.120 sec)
		2011-09-30 completed.
( 1.691 sec)
		2011-10-31 completed.
( 1.636 sec)
		2011-11-30 completed.
( 1.592 sec)
		2011-12-29 completed.
( 1.580 sec)
		2012-01-31 completed.
( 1.628 sec)
		2012-02-29 completed.
( 1.606 sec)
		2012-03-30 completed.
( 1.887 sec)
		2012-04-30 completed.
( 1.610 sec)
		2012-05-31 completed.
( 1.542 sec)
		2012-06-29 completed.
( 1.751 sec)
		2012-07-31 completed.
( 1.439 sec)
		2012-08-31 completed.
( 1.656 sec)
		2012-09-28 completed.
( 1.808 sec)
		2012-10-31 completed.
( 1.707 sec)
		2012-11-30 completed.
( 1.570 sec)
		2012-12-28 completed.
( 1.672 sec)
		2013-01-31 completed.
( 1.550 sec)
		2013-02-28 completed.
( 1.563 sec)
		2013-03-29 completed.
( 1.600 sec)
		2013-04-30 completed.
( 1.702 sec)
		2013-05-31 completed.
( 1.536 sec)
		2013-06-28 completed.
( 1.561 sec)
		2013-07-31 completed.
( 1.580 sec)
		2013-08-30 completed.
( 1.606 sec)
		2013-09-30 completed.
( 1.598 sec)
		2013-10-31 completed.
( 1.607 sec)
		2013-11-29 completed.
( 1.594 sec)
		2013-12-27 completed.
( 1.618 sec)
		2014-01-29 completed.
( 1.439 sec)
		2014-02-28 completed.
( 1.430 sec)
		2014-03-31 completed.
( 1.583 sec)
		2014-04-30 completed.
( 1.564 sec)
		2014-05-30 completed.
( 1.342 sec)
		2014-06-30 completed.
( 1.552 sec)
		2014-07-31 completed.
( 1.317 sec)
		2014-08-29 completed.
( 1.738 sec)
		2014-09-30 completed.
( 1.452 sec)
		2014-10-31 completed.
( 1.407 sec)
		2014-11-28 completed.
( 1.613 sec)
		2014-12-29 completed.
( 1.434 sec)
		2015-01-30 completed.
( 1.287 sec)
		2015-02-27 completed.
( 1.317 sec)
		2015-03-31 completed.
( 1.267 sec)
		2015-04-30 completed.
( 1.415 sec)
		2015-05-29 completed.
( 1.501 sec)
		2015-06-30 completed.
( 1.508 sec)
		2015-07-31 completed.
( 1.621 sec)
		2015-08-31 completed.
( 1.293 sec)
		2015-09-30 completed.
( 1.327 sec)
		2015-10-30 completed.
( 1.296 sec)
		2015-11-30 completed.
( 1.682 sec)
		2015-12-29 completed.
( 1.531 sec)
		2016-01-29 completed.
( 1.581 sec)
		2016-02-29 completed.
( 1.546 sec)
		2016-03-31 completed.
( 1.724 sec)
		2016-04-29 completed.
( 1.505 sec)
		2016-05-31 completed.
( 1.725 sec)
		2016-06-30 completed.
( 1.440 sec)
		2016-07-29 completed.
( 1.678 sec)
		2016-08-31 completed.
( 1.556 sec)
		2016-09-30 completed.
( 1.566 sec)
		2016-10-31 completed.
( 1.718 sec)
		2016-11-30 completed.
( 1.567 sec)
		2016-12-29 completed.
( 1.573 sec)
		2017-01-31 completed.
( 1.579 sec)
		2017-02-28 completed.
( 1.592 sec)
		2017-03-31 completed.
( 1.598 sec)
		2017-04-28 completed.
( 1.420 sec)
		2017-05-31 completed.
( 1.825 sec)
		2017-06-30 completed.
( 1.496 sec)
		2017-07-31 completed.
( 1.365 sec)
		2017-08-31 completed.
( 1.506 sec)
		2017-09-29 completed.
( 1.686 sec)
		2017-10-31 completed.
( 1.623 sec)
		2017-11-30 completed.
( 1.586 sec)
		2017-12-28 completed.
( 2.589 sec)
		2018-01-31 completed.
( 1.915 sec)
		2018-02-28 completed.
( 1.593 sec)
		2018-03-30 completed.
( 1.582 sec)
		2018-04-30 completed.
( 1.474 sec)
		2018-05-31 completed.
( 1.837 sec)
		2018-06-29 completed.
( 1.487 sec)
		2018-07-31 completed.
( 1.606 sec)
		2018-08-31 completed.
( 1.634 sec)
		2018-09-28 completed.
( 1.525 sec)
		2018-10-31 completed.
( 1.290 sec)
		2018-11-30 completed.
( 1.416 sec)
		2018-12-28 completed.
( 1.371 sec)
		2019-01-31 completed.
( 1.387 sec)
		2019-02-28 completed.
( 1.640 sec)
		2019-03-29 completed.
( 1.684 sec)
		2019-04-30 completed.
( 1.454 sec)
		2019-05-31 completed.
( 1.274 sec)
		2019-06-28 completed.
( 1.341 sec)
		2019-07-31 completed.
( 1.601 sec)
		2019-08-30 completed.
( 1.308 sec)
		2019-09-30 completed.
( 1.544 sec)
		2019-10-31 completed.
( 1.505 sec)
		2019-11-29 completed.
( 1.456 sec)
		2019-12-27 completed.
( 1.918 sec)
		2020-01-31 completed.
( 1.514 sec)
		2020-02-28 completed.
( 1.643 sec)
		2020-03-31 completed.
( 1.591 sec)
		2020-04-29 completed.
( 1.616 sec)

		2020-05-29 completed.
( 1.622 sec)
		2020-06-30 completed.
( 1.492 sec)
		2020-07-31 completed.
( 1.443 sec)
		2020-08-31 completed.
( 1.481 sec)
		2020-09-29 completed.
( 1.297 sec)
		2020-10-30 completed.
( 1.716 sec)
		2020-11-30 completed.
( 1.439 sec)
		2020-12-29 completed.
( 1.835 sec)
		2021-01-29 completed.
( 1.378 sec)
		2021-02-26 completed.
( 1.632 sec)
		2021-03-31 completed.
( 1.319 sec)
		2021-04-30 completed.
( 1.318 sec)
		2021-05-31 completed.
( 1.273 sec)
		2021-06-30 completed.
( 1.557 sec)
		2021-07-30 completed.
( 1.605 sec)
		2021-08-31 completed.
( 1.534 sec)
		2021-09-30 completed.
( 1.806 sec)
		2021-10-29 completed.
( 1.438 sec)
		2021-11-30 completed.
( 1.660 sec)
		2021-12-29 completed.
( 1.497 sec)
		2022-01-28 completed.
( 1.625 sec)
		2022-02-28 completed.
( 1.345 sec)
		2022-03-31 completed.
( 1.642 sec)
		2022-04-29 completed.
( 1.505 sec)
		2022-05-31 completed.
( 1.602 sec)
		2022-06-30 completed.
( 1.610 sec)
		2022-07-29 completed.
( 1.600 sec)
		2022-08-31 completed.
( 1.574 sec)
		2022-09-30 completed.
( 1.254 sec)
		2022-10-31 completed.
( 1.649 sec)
		2022-11-30 completed.
( 1.624 sec)
		2022-12-29 completed.
( 1.379 sec)

            티커         날짜     BPS    PER   PBR         시가총액
0       005760 2003-01-30    51.0   0.00  7.84  19269736800
1       015670 2003-01-30   312.0   0.00  1.86  18224951400
2       015675 2003-01-30     0.0   0.00  0.00   1668044900
3       004560 2003-01-30  4278.0  60.89  0.64  21320452380
4       004565 2003-01-30     0.0   0.00  0.00    417437600
...        ...        ...     ...    ...   ...          ...
499592  215050 2022-12-29     NaN    NaN   NaN   1934959392
499593  288490 2022-12-29     NaN    NaN   NaN   1831056000
499594  267060 2022-12-29     NaN    NaN   NaN   1654666524
499595  267810 2022-12-29     NaN    NaN   NaN   1572560000
499596  322190 2022-12-29     NaN    NaN   NaN   1044248049

[499597 rows x 6 columns]

In [100]:
fundamental.dropna(inplace = True)
fundamental

            티커         날짜      BPS    PER   PBR          시가총액
0       005760 2003-01-30     51.0   0.00  7.84   19269736800
1       015670 2003-01-30    312.0   0.00  1.86   18224951400
2       015675 2003-01-30      0.0   0.00  0.00    1668044900
3       004560 2003-01-30   4278.0  60.89  0.64   21320452380
4       004565 2003-01-30      0.0   0.00  0.00     417437600
...        ...        ...      ...    ...   ...           ...
207232  005010 2022-12-29  14549.0   5.65  0.35  284873540250
207233  000540 2022-12-29  10599.0   3.86  0.32  216497713650
207234  000547 2022-12-29      0.0   0.00  0.00    2488320000
207235  000545 2022-12-29      0.0   0.00  0.00    4723200000
207236  003280 2022-12-29    428.0  11.48  3.17  325775738145

[207237 rows x 6 columns]

In [103]:
stock_data_big.dropna(subset=['티커'], inplace = True)

In [190]:
df = pd.merge(stock_data_big, fundamental, how = 'left', on = ['티커', '날짜'])
df

,티커,종목명,날짜,시가,고가,저가,종가,거래량,등락률,ABS_MOM,BPS,PER,PBR,시가총액
0,060310,3S,2003-01-02,1037.0,1107.0,1007.0,1081.0,164270.0,7.135778,0.000000,NaN,NaN,NaN,NaN
1,060310,3S,2003-01-03,1095.0,1173.0,1095.0,1111.0,238965.0,2.775208,-2.180285,NaN,NaN,NaN,NaN
2,060310,3S,2003-01-06,1114.0,1132.0,1075.0,1119.0,144530.0,0.720072,-2.823614,NaN,NaN,NaN,NaN
3,060310,3S,2003-01-07,1138.0,1187.0,1095.0,1111.0,168800.0,-0.714924,-3.193958,NaN,NaN,NaN,NaN
4,060310,3S,2003-01-08,1101.0,1126.0,1074.0,1086.0,132570.0,-2.250225,-3.783407,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8477966,238490,힘스,2022-12-23,6050.0,6050.0,5950.0,6020.0,9421.0,-0.495868,-0.335925,NaN,NaN,NaN,NaN
8477967,238490,힘스,2022-12-26,5940.0,6070.0,5860.0,5860.0,24368.0,-2.657807,-2.491430,NaN,NaN,NaN,NaN
8477968,238490,힘스,2022-12-27,5940.0,5990.0,5860.0,5950.0,7276.0,1.535836,1.698196,NaN,NaN,NaN,NaN
8477969,238490,힘스,2022-12-28,5880.0,5970.0,5870.0,5940.0,6909.0,-0.168067,0.008601,NaN,NaN,NaN,NaN
8477970,238490,힘스,2022-12-29,5890.0,6100.0,5870.0,6060.0,10452.0,2.020202,2.181660,NaN,NaN,NaN,NaN

In [191]:
drop_list = [ticker for ticker in df.티커.unique() if ticker not in fundamental.티커.unique()]
drop_list

['060310',
 '054620',
 '265520',
 '211270',
 '126600',
 '013720',
 '083790',
 '035760',
 '311690',
 '051500',
 '058820',
 '023460',
 '056730',
 '065770',
 '083660',
 '367340',
 '367360',
 '060900',
 '025440',
 '068790',
 '241520',
 '065150',
 '180400',
 '245620',
 '037370',
 '365550',
 '050120',
 '214270',
 '130500',
 '900290',
 '083450',
 '028150',
 '045890',
 '297890',
 '078150',
 '195940',
 '028300',
 '278650',
 '067630',
 '024850',
 '047920',
 '115450',
 '046210',
 '036640',
 '351340',
 '095340',
 '099520',
 '950170',
 '067290',
 '035900',
 '318000',
 '024840',
 '024120',
 '021320',
 '036670',
 '044180',
 '151860',
 '046440',
 '035600',
 '226360',
 '111870',
 '060720',
 '058400',
 '122450',
 '052900',
 '376190',
 '061970',
 '060370',
 '086960',
 '038340',
 '160550',
 '053290',
 '060250',
 '104200',
 '400760',
 '338100',
 '030190',
 '024940',
 '218410',
 '327260',
 '091340',
 '019550',
 '950110',
 '046140',
 '151910',
 '036120',
 '099220',
 '036540',
 '255220',
 '040610',
 '049470',
 '184230',
 '016250',
 '307070',
 '337450',
 '340350',
 '395400',
 '036490',
 '100090',
 '048550',
 '063440',
 '950180',
 '289080',
 '089230',
 '161570',
 '032540',
 '022220',
 '048770',
 '246690',
 '317240',
 '057030',
 '040300',
 '051390',
 '052220',
 '079940',
 '078890',
 '036620',
 '217730',
 '114190',
 '094480',
 '039240',
 '053950',
 '011040',
 '024910',
 '198440',
 '049720',
 '014570',
 '348150',
 '098460',
 '035290',
 '900280',
 '215000',
 '121440',
 '014200',
 '029480',
 '026910',
 '397880',
 '053270',
 '066620',
 '043650',
 '006050',
 '060480',
 '078130',
 '307750',
 '035080',
 '204020',
 '114450',
 '186230',
 '900070',
 '204620',
 '019660',
 '053260',
 '036190',
 '049080',
 '035460',
 '308100',
 '187790',
 '286750',
 '121600',
 '247660',
 '039860',
 '091970',
 '051490',
 '190510',
 '242040',
 '089600',
 '293580',
 '138610',
 '130580',
 '036800',
 '267320',
 '111710',
 '091590',
 '168330',
 '094860',
 '253590',
 '212560',
 '095660',
 '042420',
 '950220',
 '311390',
 '085910',
 '092730',
 '290660',
 '306620',
 '153460',
 '007390',
 '033640',
 '330860',
 '089140',
 '137940',
 '348210',
 '225570',
 '041140',
 '217270',
 '104620',
 '194700',
 '285490',
 '106520',
 '031390',
 '142280',
 '234690',
 '065560',
 '054050',
 '069140',
 '040160',
 '332290',
 '126870',
 '060260',
 '012340',
 '214870',
 '270870',
 '144960',
 '085670',
 '064260',
 '340360',
 '039560',
 '154040',
 '032190',
 '068240',
 '020400',
 '008830',
 '048470',
 '004780',
 '017650',
 '007720',
 '317850',
 '290670',
 '078140',
 '036480',
 '027830',
 '104040',
 '387310',
 '397500',
 '020180',
 '045390',
 '108380',
 '006580',
 '007680',
 '048910',
 '005710',
 '290380',
 '290120',
 '120240',
 '003310',
 '078600',
 '096350',
 '140520',
 '131220',
 '010170',
 '054670',
 '023910',
 '021040',
 '021045',
 '067080',
 '298540',
 '299170',
 '224060',
 '213420',
 '317330',
 '077360',
 '090410',
 '263600',
 '194480',
 '263800',
 '206560',
 '261200',
 '067990',
 '006620',
 '100130',
 '005160',
 '075970',
 '086450',
 '099410',
 '033500',
 '025950',
 '088130',
 '041930',
 '060380',
 '079960',
 '228340',
 '088910',
 '094170',
 '013120',
 '109860',
 '032960',
 '023790',
 '005290',
 '025900',
 '131970',
 '073190',
 '030350',
 '203650',
 '223250',
 '060570',
 '217620',
 '016670',
 '187870',
 '066670',
 '110990',
 '263690',
 '214680',
 '377190',
 '263720',
 '376300',
 '141020',
 '109740',
 '033430',
 '196490',
 '066900',
 '127120',
 '092070',
 '039840',
 '219550',
 '310870',
 '104460',
 '079810',
 '113810',
 '043360',
 '197140',
 '068930',
 '033130',
 '105740',
 '263020',
 '290550',
 '187220',
 '131180',
 '315640',
 '317120',
 '042510',
 '232680',
 '300120',
 '171120',
 '388790',
 '069540',
 '347700',
 '214260',
 '171010',
 '084650',
 '217500',
 '033600',
 '141080',
 '060300',
 '038390',
 '294140',
 '228670',
 '228850',
 '281740',
 '277810',
 '215100',
 '090360',
 '108490',
 '900260',
 '067730',
 '071280',
 '330590',
 '038060',
 '085370',
 '08537M',
 '060240',
 '058470',
 '039980',
 '019570',
 '016100',
 '012700',
 '302550',
 '073570',
 '377450',
 '277070',
 '042500',
 '219420',
 '195500',
 '377480',
 '305090',
 '098120',
 '038290',
 '220630',
 '267980',
 '005990',
 '127160',
 '093520',
 '141070',
 '377030',
 '088980',
 '094800',
 '100590',
 '067280',
 '072870',
 '215200',
 '133750',
 '235980',
 '041920',
 '014100',
 '054180',
 '086900',
 '078160',
 '065650',
 '021880',
 '140410',
 '241770',
 '059210',
 '058110',
 '096640',
 '257370',
 '080420',
 '080160',
 '204210',
 '087260',
 '101330',
 '012860',
 '363260',
 '348030',
 '250060',
 '033200',
 '333050',
 '118990',
 '006920',
 '001810',
 '279600',
 '028040',
 '095500',
 '218150',
 '396690',
 '353490',
 '357250',
 '100790',
 '049950',
 '213090',
 '207760',
 '059090',
 '214610',
 '201490',
 '950190',
 '155900',
 '206640',
 '018700',
 '035620',
 '053030',
 '301300',
 '064550',
 '314930',
 '208710',
 '086820',
 '038460',
 '086040',
 '099430',
 '032980',
 '222160',
 '308080',
 '043150',
 '323990',
 '267790',
 '046310',
 '331520',
 '066410',
 '206400',
 '019010',
 '177350',
 '299910',
 '096300',
 '225530',
 '250000',
 '006910',
 '226340',
 '014470',
 '008470',
 '338220',
 '100120',
 '337930',
 '099390',
 '064480',
 '288330',
 '251630',
 '018290',
 '044480',
 '033560',
 '369370',
 '126340',
 '121800',
 '148140',
 '082800',
 '318410',
 '200780',
 '141000',
 '090460',
 '083650',
 '142760',
 '065170',
 '086670',
 '335890',
 '138580',
 '082920',
 '054220',
 '042370',
 '050090',
 '307870',
 '357880',
 '032850',
 '238200',
 '093190',
 '065450',
 '072950',
 '143240',
 '122350',
 '014970',
 '018310',
 '053700',
 '009620',
 '023600',
 '380320',
 '377630',
 '009300',
 '225190',
 '361670',
 '054540',
 '065570',
 '032280',
 '002290',
 '037460',
 '032750',
 '054090',
 '000250',
 '024950',
 '038500',
 '017480',
 '046390',
 '027580',
 '038540',
 '329560',
 '101000',
 '091580',
 '263810',
 '089980',
 '042940',
 '042600',
 '252990',
 '294630',
 '038070',
 '006730',
 '079650',
 '100660',
 '019770',
 '043710',
 '092190',
 '046890',
 '063170',
 '027040',
 '018680',
 '093920',
 '189860',
 '178320',
 '122690',
 '140070',
 '011370',
 '065710',
 '035890',
 '357550',
 '003100',
 '171090',
 '086710',
 '014620',
 '037350',
 '081580',
 '045300',
 '015750',
 '080470',
 '043260',
 '148150',
 '053060',
 '340440',
 '017510',
 '011560',
 '052190',
 '100700',
 '024830',
 '258830',
 '036630',
 '039310',
 '067770',
 '053450',
 '222810',
 '252500',
 '347000',
 '331920',
 '049180',
 '299660',
 '268600',
 '108860',
 '208370',
 '068760',
 '091990',
 '068940',
 '060230',
 '290690',
 '053110',
 '950200',
 '032680',
 '032685',
 '258790',
 '066910',
 '043100',
 '035610',
 '357780',
 '036830',
 '304100',
 '328380',
 '086980',
 '050960',
 '084180',
 '253840',
 '236200',
 '094840',
 '192440',
 '136510',
 '099440',
 '033790',
 '159910',
 '115570',
 '253450',
 '204630',
 '013810',
 '039670',
 '203690',
 '049830',
 '020710',
 '033170',
 '048870',
 '025320',
 '269620',
 '131090',
 '139050',
 '290520',
 '001000',
 '025870',
 '215600',
 '065350',
 '002800',
 '344050',
 '017000',
 '012790',
 '138070',
 '226330',
 '404990',
 '293940',
 '366330',
 '393360',
 '056700',
 '187270',
 '243840',
 '257720',
 '222800',
 '036710',
 '160980',
 '356890',
 '217330',
 '010280',
 '208640',
 '222420',
 '037760',
 '099320',
 '049960',
 '050890',
 '066790',
 '222080',
 '352480',
 '264660',
 '352700',
 '297090',
 '359090',
 '115530',
 '225330',
 '115480',
 '376290',
 '189330',
 '096530',
 '900120',
 '101240',
 '060590',
 '260930',
 '052300',
 '013990',
 '123860',
 '025980',
 '058220',
 '125210',
 '357580',
 '052710',
 '074430',
 '092040',
 '083930',
 '149950',
 '036010',
 '050860',
 '246720',
 '067390',
 '159010',
 '127710',
 '154030',
 '227610',
 '143160',
 '054800',
 '332370',
 '339950',
 '099190',
 '289010',
 '214430',
 '040910',
 '052860',
 '069920',
 '038880',
 '307180',
 '101390',
 '226350',
 '078860',
 '090150',
 '123010',
 '031310',
 '185490',
 '059100',
 '262840',
 '175250',
 '052460',
 '119830',
 '052770',
 '124500',
 '372800',
 '084850',
 '114840',
 '027360',
 '032080',
 '013310',
 '059120',
 '158430',
 '067160',
 '001540',
 '053800',
 '065660',
 '297570',
 '260660',
 '361570',
 '131370',
 '140670',
 '096610',
 '061040',
 '148250',
 '347860',
 '196170',
 '123750',
 '085810',
 '117670',
 '291650',
 '293780',
 '196300',
 '310200',
 '900100',
 '205500',
 '052790',
 '290740',
 '238090',
 '092600',
 '129890',
 '174900',
 '255440',
 '030960',
 '102120',
 '263540',
 '238120',
 '019990',
 '270660',
 '038680',
 '217480',
 '121890',
 '042110',
 '298060',
 '065420',
 '103230',
 '260970',
 '900080',
 '101490',
 '095910',
 '275630',
 '031330',
 '050320',
 '060540',
 '351320',
 '056190',
 '080000',
 '214310',
 '041510',
 '007820',
 '109610',
 '031860',
 '306040',
 '080440',
 '096630',
 '069510',
 '041910',
 '234300',
 '039440',
 '098660',
 '052020',
 '237690',
 '050760',
 '288620',
 '317830',
 '058610',
 '043340',
 '187660',
 '054630',
 '200710',
 '096690',
 '140910',
 '298380',
 '203400',
 '195990',
 '003800',
 '088800',
 '241840',
 '039230',
 '312610',
 '102210',
 '072990',
 '227100',
 '176440',
 '239610',
 '353070',
 '353060',
 '044780',
 '357230',
 '071670',
 '045660',
 '224110',
 '230980',
 '021080',
 '089530',
 '200470',
 '073070',
 '262260',
 '109960',
 '089970',
 '230240',
 '230360',
 '038870',
 '097780',
 '101360',
 '128540',
 '086520',
 '247540',
 '383310',
 '038110',
 '073540',
 '064850',
 '036810',
 '173940',
 '083500',
 '054940',
 '043090',
 '950130',
 '205100',
 '070300',
 '317770',
 '092870',
 '317870',
 '067570',
 '236810',
 '333620',
 '101400',
 '310840',
 '391060',
 '396770',
 '265740',
 '354200',
 '208860',
 '183490',
 '182400',
 '348370',
 '058450',
 '069410',
 '227950',
 '291230',
 '198080',
 '048830',
 '096870',
 '900140',
 '138690',
 '290650',
 '066970',
 '156100',
 '073110',
 '083310',
 '037950',
 '170920',
 '058630',
 '058970',
 '019590',
 '169330',
 '179290',
 '009780',
 '123040',
 '323230',
 '032790',
 '033160',
 '347890',
 '033310',
 '259630',
 '050540',
 '115960',
 '090740',
 '060850',
 '143540',
 '036560',
 '265560',
 '036000',
 '250930',
 '053280',
 '122640',
 '900300',
 '045060',
 '080520',
 '039830',
 '322310',
 '046120',
 '014940',
 '065500',
 '010470',
 '352910',
 '053980',
 '052420',
 '241790',
 '039200',
 '226400',
 '031510',
 '048260',
 '138080',
 '080580',
 '067170',
 '173130',
 '049480',
 '309930',
 '244460',
 '226950',
 '057540',
 '131030',
 '082210',
 '109080',
 '153710',
 '321820',
 '122990',
 '232140',
 '065530',
 '067900',
 '007530',
 '155650',
 '273640',
 '251370',
 '066430',
 '193250',
 '273060',
 '019210',
 '122870',
 '332570',
 '079000',
 '032820',
 '041190',
 '115440',
 '046970',
 '082850',
 '298870',
 '215360',
 '072470',
 '073560',
 '037400',
 '153490',
 '101170',
 '066590',
 '103840',
 '046940',
 '215380',
 '065680',
 '018620',
 '307280',
 '032940',
 '240810',
 '074600',
 '104830',
 '014190',
 '131390',
 '217820',
 '030530',
 '012620',
 '382840',
 '336570',
 '376980',
 '008370',
 '008290',
 '101160',
 '064090',
 '336060',
 '095270',
 '065950',
 ...]

In [192]:
len(drop_list)

1595

In [193]:
df = df.loc[~df.티커.isin(drop_list)].reset_index(drop = True)
df

,티커,종목명,날짜,시가,고가,저가,종가,거래량,등락률,ABS_MOM,BPS,PER,PBR,시가총액
0,095570,AJ네트웍스,2015-08-21,6180.0,7300.0,5600.0,7100.0,1994022.0,NaN,NaN,NaN,NaN,NaN,NaN
1,095570,AJ네트웍스,2015-08-24,6700.0,6940.0,6240.0,6480.0,392831.0,-8.732394,0.000000,NaN,NaN,NaN,NaN
2,095570,AJ네트웍스,2015-08-25,6610.0,6730.0,6189.0,6220.0,242730.0,-4.012346,2.360024,NaN,NaN,NaN,NaN
3,095570,AJ네트웍스,2015-08-26,6260.0,7760.0,6260.0,7090.0,703721.0,13.987138,13.573006,NaN,NaN,NaN,NaN
4,095570,AJ네트웍스,2015-08-27,7239.0,8060.0,6960.0,7570.0,499913.0,6.770099,4.766974,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3785310,003280,흥아해운,2022-12-23,1505.0,1510.0,1450.0,1455.0,252745.0,-3.960396,-3.803694,NaN,NaN,NaN,NaN
3785311,003280,흥아해운,2022-12-26,1440.0,1445.0,1380.0,1410.0,226158.0,-3.092784,-2.906875,NaN,NaN,NaN,NaN
3785312,003280,흥아해운,2022-12-27,1410.0,1430.0,1375.0,1390.0,211506.0,-1.418440,-1.238906,NaN,NaN,NaN,NaN
3785313,003280,흥아해운,2022-12-28,1390.0,1410.0,1360.0,1385.0,146629.0,-0.359712,-0.171470,NaN,NaN,NaN,NaN
3785314,003280,흥아해운,2022-12-29,1385.0,1430.0,1330.0,1355.0,157217.0,-2.166065,-1.974947,428.0,11.48,3.17,3.257757e+11

In [123]:
temp = df.loc[(df.티커 == '005930') & (df.날짜 <= '2003-12-31')]
temp

,티커,종목명,날짜,시가,고가,저가,종가,거래량,등락률,ABS_MOM,BPS,PER,PBR,시가총액
1781176,005930,삼성전자,2003-01-02,6380.0,6460.0,6300.0,6430.0,511660.0,2.388535,0.000000,NaN,NaN,NaN,NaN
1781177,005930,삼성전자,2003-01-03,6700.0,7000.0,6640.0,6880.0,1110675.0,6.998445,2.304955,NaN,NaN,NaN,NaN
1781178,005930,삼성전자,2003-01-06,6940.0,7030.0,6879.0,6990.0,499437.0,1.598837,-2.063102,NaN,NaN,NaN,NaN
1781179,005930,삼성전자,2003-01-07,7180.0,7180.0,6840.0,6850.0,577944.0,-2.002861,-4.248600,NaN,NaN,NaN,NaN
1781180,005930,삼성전자,2003-01-08,6920.0,6930.0,6770.0,6800.0,504232.0,-0.729927,-2.380533,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1781418,005930,삼성전자,2003-12-23,8880.0,8930.0,8840.0,8840.0,452067.0,0.000000,-0.167840,NaN,NaN,NaN,NaN
1781419,005930,삼성전자,2003-12-24,8900.0,8930.0,8710.0,8780.0,586749.0,-0.678733,-0.843104,NaN,NaN,NaN,NaN
1781420,005930,삼성전자,2003-12-26,8780.0,8840.0,8780.0,8830.0,439136.0,0.569476,0.403452,NaN,NaN,NaN,NaN
1781421,005930,삼성전자,2003-12-29,8800.0,8850.0,8760.0,8800.0,368876.0,-0.339751,-0.503719,158691.0,10.47,2.77,6.637541e+13
1781422,005930,삼성전자,2003-12-30,8960.0,9080.0,8900.0,9020.0,448634.0,2.500000,2.326574,NaN,NaN,NaN,NaN

In [124]:
temp.loc[~temp.시가총액.isna()]

,티커,종목명,날짜,시가,고가,저가,종가,거래량,등락률,ABS_MOM,BPS,PER,PBR,시가총액
1781196,005930,삼성전자,2003-01-30,5860.0,5910.0,5790.0,5830.0,701387.0,0.000000,0.312268,112952.0,16.69,2.58,4.480897e+13
1781216,005930,삼성전자,2003-02-28,5670.0,5740.0,5580.0,5590.0,409838.0,-1.410935,-1.165886,112952.0,16.01,2.47,4.297813e+13
1781237,005930,삼성전자,2003-03-31,5960.0,6000.0,5680.0,5680.0,928851.0,-7.491857,-7.371025,112952.0,16.26,2.51,4.367009e+13
1781259,005930,삼성전자,2003-04-30,6040.0,6130.0,5990.0,6100.0,640825.0,1.497504,1.491486,158691.0,7.26,1.92,4.689921e+13
1781278,005930,삼성전자,2003-05-30,6490.0,6510.0,6400.0,6480.0,463912.0,-0.154083,-0.221502,158691.0,7.71,2.04,4.885179e+13
1781298,005930,삼성전자,2003-06-30,7160.0,7210.0,7070.0,7100.0,312166.0,-1.662050,-1.797061,158691.0,8.45,2.24,5.352588e+13
1781320,005930,삼성전자,2003-07-31,8400.0,8490.0,8270.0,8320.0,412397.0,-1.304864,-1.531518,158691.0,9.90,2.62,6.272329e+13
1781340,005930,삼성전자,2003-08-29,8820.0,8840.0,8580.0,8700.0,531871.0,-0.684932,-0.913064,158691.0,10.36,2.74,6.558805e+13
1781359,005930,삼성전자,2003-09-30,7820.0,8000.0,7820.0,7840.0,841868.0,1.423027,1.271762,158691.0,9.33,2.47,5.911057e+13
1781381,005930,삼성전자,2003-10-31,9500.0,9510.0,9270.0,9400.0,491659.0,-0.212314,-0.437872,158691.0,11.19,2.96,7.088767e+13
1781401,005930,삼성전자,2003-11-28,9130.0,9340.0,9130.0,9300.0,364500.0,2.085620,1.883348,158691.0,11.07,2.93,7.014171e+13
1781421,005930,삼성전자,2003-12-29,8800.0,8850.0,8760.0,8800.0,368876.0,-0.339751,-0.503719,158691.0,10.47,2.77,6.637541e+13

In [194]:
for ticker in df.티커.unique() : 
    print(f'[{ticker}]')
    temp = df.loc[df.티커 == ticker]
    df.loc[(df.티커 == ticker), ['BPS', 'PER', 'PBR', '시가총액']] = temp.loc[:, ['BPS', 'PER', 'PBR', '시가총액']].ffill()
df

[095570]
[006840]
[027410]
[282330]
[138930]
[001460]
[001465]
[001040]
[079160]
[00104K]
[000120]
[011150]
[011155]
[001045]
[097950]
[097955]
[000480]
[000590]
[012030]
[016610]
[005830]
[000990]
[000995]
[139130]
[001530]
[000210]
[001880]
[000215]
[375500]
[37550K]
[007340]
[004840]
[155660]
[069730]
[017940]
[383220]
[007700]
[114090]
[078930]
[006360]
[001250]
[007070]
[078935]
[012630]
[039570]
[089470]
[294870]
[009540]
[267250]
[267270]
[322000]
[042670]
[267260]
[329180]
[097230]
[014790]
[003580]
[204320]
[060980]
[011200]
[082740]
[035000]
[003560]
[175330]
[234080]
[001060]
[001067]
[001065]
[096760]
[105560]
[002380]
[344820]
[009070]
[009440]
[119650]
[092220]
[003620]
[016380]
[016385]
[001390]
[033180]
[015590]
[001940]
[025000]
[092230]
[000040]
[044450]
[030200]
[033780]
[058850]
[058860]
[093050]
[003550]
[034220]
[051900]
[051905]
[003555]
[032640]
[011070]
[066570]
[066575]
[037560]
[051910]
[051915]
[079550]
[006260]
[010120]
[000680]
[229640]
[108320]
[001120]
[108670]
[108675]
[383800]
[38380K]
[023150]
[035420]
[181710]
[005940]
[005945]
[034310]
[008260]
[004250]
[004255]
[010060]
[178920]
[005490]
[010950]
[010955]
[034120]
[101060]
[005090]
[001380]
[004060]
[001770]
[002360]
[009160]
[123700]
[025530]
[034730]
[011790]
[018670]
[001740]
[001745]
[006120]
[006125]
[210980]
[068400]
[302440]
[326030]
[402340]
[361610]
[03473K]
[096770]
[096775]
[001510]
[001515]
[285130]
[28513K]
[017670]
[000660]
[003570]
[064960]
[100840]
[036530]
[005610]
[011810]
[077970]
[071970]
[002820]
[084870]
[002710]
[069260]
[002900]
[024070]
[037270]
[000500]
[000860]
[035250]
[011420]
[002100]
[009450]
[267290]
[012320]
[000050]
[214390]
[012610]
[009140]
[013580]
[012200]
[012205]
[002140]
[010130]
[002240]
[009290]
[017040]
[017900]
[037710]
[030610]
[339770]
[007690]
[005320]
[001140]
[002720]
[083420]
[014530]
[014280]
[014285]
[008870]
[001570]
[002990]
[002995]
[011780]
[011785]
[214330]
[001210]
[073240]
[092440]
[000270]
[024110]
[013700]
[004540]
[004545]
[001260]
[008350]
[008355]
[004270]
[003920]
[003925]
[025860]
[005720]
[005725]
[002350]
[002355]
[251270]
[090350]
[090355]
[000320]
[000325]
[006280]
[005250]
[005257]
[004370]
[072710]
[058730]
[030210]
[023590]
[145210]
[019680]
[019685]
[006370]
[008060]
[00806K]
[353200]
[35320K]
[000490]
[008110]
[005750]
[006570]
[001680]
[001685]
[084690]
[084695]
[128820]
[117580]
[016710]
[003540]
[003547]
[003545]
[009190]
[014160]
[047040]
[009320]
[003090]
[069620]
[000430]
[006340]
[006345]
[003220]
[024890]
[002880]
[000300]
[012800]
[015230]
[001070]
[006650]
[001440]
[084010]
[001790]
[001795]
[001130]
[003490]
[003495]
[005880]
[003830]
[016090]
[069460]
[118000]
[192080]
[012510]
[004830]
[004835]
[024900]
[145720]
[002150]
[001230]
[023450]
[004140]
[007590]
[005960]
[005965]
[026960]
[002210]
[102260]
[005190]
[000640]
[170900]
[028100]
[282690]
[001520]
[001527]
[001529]
[084670]
[082640]
[001525]
[008970]
[092780]
[049770]
[018500]
[006040]
[030720]
[014820]
[014825]
[163560]
[004890]
[002690]
[000020]
[000150]
[000157]
[241560]
[034020]
[000155]
[336260]
[33626K]
[33626L]
[016740]
[192650]
[024090]
[003160]
[092200]
[013570]
[210540]
[115390]
[032350]
[089860]
[000400]
[023530]
[020150]
[280360]
[004000]
[286940]
[004990]
[00499K]
[005300]
[005305]
[011170]
[002270]
[071840]
[027740]
[001080]
[138040]
[008560]
[000060]
[090370]
[017180]
[009900]
[012690]
[005360]
[009680]
[009580]
[009200]
[033920]
[008420]
[025560]
[007120]
[085620]
[006800]
[00680K]
[006805]
[002840]
[268280]
[107590]
[134380]
[003650]
[003610]
[001340]
[035150]
[002410]
[007210]
[002760]
[003850]
[000890]
[003000]
[001270]
[001275]
[026940]
[015350]
[011390]
[005030]
[002070]
[100220]
[030790]
[005180]
[003960]
[008040]
[007160]
[014710]
[006090]
[001470]
[006400]
[006405]
[006660]
[028260]
[02826K]
[207940]
[032830]
[018260]
[028050]
[009150]
[009155]
[005930]
[005935]
[001360]
[010140]
[010145]
[016360]
[068290]
[029780]
[000810]
[000815]
[006110]
[145990]
[145995]
[003230]
[002170]
[272550]
[000070]
[000075]
[003720]
[002810]
[005680]
[023000]
[004380]
[002450]
[004440]
[000520]
[009770]
[005500]
[004690]
[010960]
[004450]
[009470]
[011230]
[001820]
[000390]
[001290]
[041650]
[075180]
[007540]
[248170]
[007860]
[200880]
[017390]
[004410]
[004415]
[021050]
[008490]
[007610]
[136490]
[014910]
[014915]
[003080]
[004980]
[004985]
[011300]
[000180]
[002420]
[004360]
[004365]
[004490]
[001430]
[306200]
[003030]
[019440]
[058650]
[013000]
[091090]
[021820]
[067830]
[033530]
[075580]
[068270]
[336370]
[33637K]
[33637L]
[248070]
[004430]
[017550]
[053210]
[026890]
[134790]
[016590]
[029530]
[004970]
[011930]
[005390]
[004170]
[035510]
[034300]
[031430]
[031440]
[006880]
[005800]
[001720]
[001725]
[009270]
[009275]
[002700]
[002870]
[019170]
[019175]
[055550]
[004080]
[102280]
[003410]
[004770]
[015540]
[004920]
[112610]
[308170]
[008700]
[002790]
[00279K]
[002795]
[090430]
[090435]
[002030]
[183190]
[002310]
[012170]
[267850]
[020560]
[122900]
[010780]
[139990]
[001780]
[018250]
[161000]
[011090]
[137310]
[005850]
[010580]
[012750]
[023960]
[298690]
[078520]
[015260]
[007460]
[003060]
[244920]
[036570]
[138250]
[380440]
[085310]
[097520]
[014440]
[111770]
[009970]
[003520]
[000670]
[006740]
[012280]
[012160]
[015360]
[007310]
[002630]
[271560]
[001800]
[011690]
[070960]
[316140]
[033660]
[010050]
[006980]
[017370]
[105840]
[010400]
[049800]
[016880]
[095720]
[005820]
[010600]
[008600]
[033270]
[014830]
[000910]
[047400]
[011330]
[077500]
[002920]
[000700]
[003470]
[003475]
[072130]
[000220]
[000225]
[000227]
[001200]
[000100]
[000105]
[003460]
[003465]
[008730]
[008250]
[025820]
[214320]
[139480]
[007660]
[005950]
[015020]
[093230]
[074610]
[102460]
[084680]
[000760]
[014990]
[101140]
[006490]
[023800]
[034590]
[129260]
[023810]
[249420]
[000230]
[013360]
[003120]
[003200]
[007110]
[007570]
[007575]
[008500]
[081000]
[020760]
[103590]
[271940]
[015860]
[226320]
[317400]
[033240]
[000950]
[194370]
[025620]
[030000]
[271980]
[001560]
[002620]
[006220]
[089590]
[004910]
[004700]
[001550]
[120030]
[018470]
[002600]
[185750]
[063160]
[001630]
[044380]
[013890]
[013870]
[071320]
[088790]
[003780]
[010640]
[100250]
[051630]
[272450]
[011000]
[002780]
[002787]
[002785]
[009310]
[000650]
[012600]
[033250]
[035720]
[323410]
[377300]
[006380]
[109070]
[001620]
[029460]
[281820]
[381970]
[007815]
[007810]
[00781K]
[003690]
[192820]
[044820]
[005070]
[005420]
[071950]
[002020]
[003070]
[003075]
[144620]
[002025]
[120110]
[120115]
[138490]
[021240]
[036420]
[031820]
[192400]
[284740]
[264900]
[26490K]
[005740]
[005745]
[259960]
[020120]
[039490]
[014580]
[015890]
[006890]
[003240]
[011280]
[004100]
[004105]
[009410]
[009415]
[001420]
[007980]
[055490]
[078000]
[214420]
[019180]
[363280]
[36328K]
[091810]
[004870]
[005690]
[036580]
[004720]
[028670]
[010820]
[016800]
[001020]
[090080]
[010770]
[058430]
[047050]
[003670]
[007630]
[017810]
[103140]
[005810]
[009810]
[086790]
[293480]
[039130]
[352820]
[071090]
[019490]
[000080]
[000087]
[000140]
[000145]
[036460]
[005430]
[071050]
[071055]
[010040]
[025540]
[010100]
[004090]
[002200]
[002960]
[000240]
[123890]
[015760]
[006200]
[027970]
[023350]
[025890]
[000970]
[104700]
[017960]
[161890]
[024720]
[161390]
[034830]
[007280]
[047810]
[123690]
[003350]
[011500]
[002390]
[053690]
[042700]
[008930]
[128940]
[009240]
[020000]
[003680]
[105630]
[069640]
[016450]
[010420]
[009180]
[213500]
[014680]
[004710]
[004150]
[025750]
[004960]
[011700]
[001750]
[001755]
[018880]
[009420]
[014130]
[300720]
[002220]
[006390]
[003300]
[051600]
[052690]
[130660]
[002320]
[003480]
[180640]
[18064K]
[005110]
[009460]
[372910]
[000880]
[00088K]
[088350]
[000370]
[009830]
[009835]
[272210]
[012450]
[042660]
[000885]
[003530]
[003535]
[195870]
[101530]
[143210]
[000720]
[000725]
[086280]
[064350]
[079430]
[012330]
[010620]
[069960]
[004560]
[004565]
[004310]
[017800]
[307950]
[011210]
[004020]
[005440]
[005380]
[005387]
[005389]
[005385]
[001500]
[011760]
[227840]
[126560]
[001450]
[057050]
[093240]
[003010]
[111110]
[008770]
[008775]
[002460]
[378850]
[241590]
[006060]
[013520]
[010690]
[133820]
[010660]
[000850]
[016580]
[032560]
[004800]
[094280]
[298040]
[298050]
[298020]
[298000]
[093370]

[081660]
[005870]
[079980]
[005010]
[000540]
[000547]
[000545]
[003280]

,티커,종목명,날짜,시가,고가,저가,종가,거래량,등락률,ABS_MOM,BPS,PER,PBR,시가총액
0,095570,AJ네트웍스,2015-08-21,6180.0,7300.0,5600.0,7100.0,1994022.0,NaN,NaN,NaN,NaN,NaN,NaN
1,095570,AJ네트웍스,2015-08-24,6700.0,6940.0,6240.0,6480.0,392831.0,-8.732394,0.000000,NaN,NaN,NaN,NaN
2,095570,AJ네트웍스,2015-08-25,6610.0,6730.0,6189.0,6220.0,242730.0,-4.012346,2.360024,NaN,NaN,NaN,NaN
3,095570,AJ네트웍스,2015-08-26,6260.0,7760.0,6260.0,7090.0,703721.0,13.987138,13.573006,NaN,NaN,NaN,NaN
4,095570,AJ네트웍스,2015-08-27,7239.0,8060.0,6960.0,7570.0,499913.0,6.770099,4.766974,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3785310,003280,흥아해운,2022-12-23,1505.0,1510.0,1450.0,1455.0,252745.0,-3.960396,-3.803694,428.0,13.77,3.80,3.906905e+11
3785311,003280,흥아해운,2022-12-26,1440.0,1445.0,1380.0,1410.0,226158.0,-3.092784,-2.906875,428.0,13.77,3.80,3.906905e+11
3785312,003280,흥아해운,2022-12-27,1410.0,1430.0,1375.0,1390.0,211506.0,-1.418440,-1.238906,428.0,13.77,3.80,3.906905e+11
3785313,003280,흥아해운,2022-12-28,1390.0,1410.0,1360.0,1385.0,146629.0,-0.359712,-0.171470,428.0,13.77,3.80,3.906905e+11
3785314,003280,흥아해운,2022-12-29,1385.0,1430.0,1330.0,1355.0,157217.0,-2.166065,-1.974947,428.0,11.48,3.17,3.257757e+11

In [195]:
contain_list = df.loc[~df.시가총액.isna()]['티커'].unique()
contain_list

array(['095570', '006840', '027410', '282330', '138930', '001460',
       '001465', '001040', '079160', '00104K', '000120', '011150',
       '011155', '001045', '097950', '097955', '000480', '000590',
       '012030', '016610', '005830', '000990', '000995', '139130',
       '001530', '000210', '001880', '000215', '375500', '37550K',
       '007340', '004840', '155660', '069730', '017940', '383220',
       '007700', '114090', '078930', '006360', '001250', '007070',
       '078935', '012630', '039570', '089470', '294870', '009540',
       '267250', '267270', '322000', '042670', '267260', '329180',
       '097230', '014790', '003580', '204320', '060980', '011200',
       '082740', '035000', '003560', '175330', '234080', '001060',
       '001067', '001065', '096760', '105560', '002380', '344820',
       '009070', '009440', '119650', '092220', '003620', '016380',
       '016385', '001390', '033180', '015590', '001940', '025000',
       '092230', '000040', '044450', '030200', '033780', '058850',
       '058860', '093050', '003550', '034220', '051900', '051905',
       '003555', '032640', '011070', '066570', '066575', '037560',
       '051910', '051915', '079550', '006260', '010120', '000680',
       '229640', '108320', '001120', '108670', '108675', '383800',
       '38380K', '023150', '035420', '181710', '005940', '005945',
       '034310', '008260', '004250', '004255', '010060', '178920',
       '005490', '010950', '010955', '034120', '101060', '005090',
       '001380', '004060', '001770', '002360', '009160', '123700',
       '025530', '034730', '011790', '018670', '001740', '001745',
       '006120', '006125', '210980', '068400', '302440', '326030',
       '402340', '361610', '03473K', '096770', '096775', '001510',
       '001515', '285130', '28513K', '017670', '000660', '003570',
       '064960', '100840', '036530', '005610', '011810', '077970',
       '071970', '002820', '084870', '002710', '069260', '002900',
       '024070', '037270', '000500', '000860', '035250', '011420',
       '002100', '009450', '267290', '012320', '000050', '214390',
       '012610', '009140', '013580', '012200', '012205', '002140',
       '010130', '002240', '009290', '017040', '017900', '037710',
       '030610', '339770', '007690', '005320', '001140', '002720',
       '083420', '014530', '014280', '014285', '008870', '001570',
       '002990', '002995', '011780', '011785', '214330', '001210',
       '073240', '092440', '000270', '024110', '013700', '004540',
       '004545', '001260', '008350', '008355', '004270', '003920',
       '003925', '025860', '005720', '005725', '002350', '002355',
       '251270', '090350', '090355', '000320', '000325', '006280',
       '005250', '005257', '004370', '072710', '058730', '030210',
       '023590', '145210', '019680', '019685', '006370', '008060',
       '00806K', '353200', '35320K', '000490', '008110', '005750',
       '006570', '001680', '001685', '084690', '084695', '128820',
       '117580', '016710', '003540', '003547', '003545', '009190',
       '014160', '047040', '009320', '003090', '069620', '000430',
       '006340', '006345', '003220', '024890', '002880', '000300',
       '012800', '015230', '001070', '006650', '001440', '084010',
       '001790', '001795', '001130', '003490', '003495', '005880',
       '003830', '016090', '069460', '118000', '192080', '012510',
       '004830', '004835', '024900', '145720', '002150', '001230',
       '023450', '004140', '007590', '005960', '005965', '026960',
       '002210', '102260', '005190', '000640', '170900', '028100',
       '282690', '001520', '001527', '001529', '084670', '082640',
       '001525', '008970', '092780', '049770', '018500', '006040',
       '030720', '014820', '014825', '163560', '004890', '002690',
       '000020', '000150', '000157', '241560', '034020', '000155',
       '336260', '33626K', '33626L', '016740', '192650', '024090',
       '003160', '092200', '013570', '210540', '115390', '032350',
       '089860', '000400', '023530', '020150', '280360', '004000',
       '286940', '004990', '00499K', '005300', '005305', '011170',
       '002270', '071840', '027740', '001080', '138040', '008560',
       '000060', '090370', '017180', '009900', '012690', '005360',
       '009680', '009580', '009200', '033920', '008420', '025560',
       '007120', '085620', '006800', '00680K', '006805', '002840',
       '268280', '107590', '134380', '003650', '003610', '001340',
       '035150', '002410', '007210', '002760', '003850', '000890',
       '003000', '001270', '001275', '026940', '015350', '011390',
       '005030', '002070', '100220', '030790', '005180', '003960',
       '008040', '007160', '014710', '006090', '001470', '006400',
       '006405', '006660', '028260', '02826K', '207940', '032830',
       '018260', '028050', '009150', '009155', '005930', '005935',
       '001360', '010140', '010145', '016360', '068290', '029780',
       '000810', '000815', '006110', '145990', '145995', '003230',
       '002170', '272550', '000070', '000075', '003720', '002810',
       '005680', '023000', '004380', '002450', '004440', '000520',
       '009770', '005500', '004690', '010960', '004450', '009470',
       '011230', '001820', '000390', '001290', '041650', '075180',
       '007540', '248170', '007860', '200880', '017390', '004410',
       '004415', '021050', '008490', '007610', '136490', '014910',
       '014915', '003080', '004980', '004985', '011300', '000180',
       '002420', '004360', '004365', '004490', '001430', '306200',
       '003030', '019440', '058650', '013000', '091090', '021820',
       '067830', '033530', '075580', '068270', '336370', '33637K',
       '33637L', '248070', '004430', '017550', '053210', '026890',
       '134790', '016590', '029530', '004970', '011930', '005390',
       '004170', '035510', '034300', '031430', '031440', '006880',
       '005800', '001720', '001725', '009270', '009275', '002700',
       '002870', '019170', '019175', '055550', '004080', '102280',
       '003410', '004770', '015540', '004920', '112610', '308170',
       '008700', '002790', '00279K', '002795', '090430', '090435',
       '002030', '183190', '002310', '012170', '267850', '020560',
       '122900', '010780', '139990', '001780', '018250', '161000',
       '011090', '137310', '005850', '010580', '012750', '023960',
       '298690', '078520', '015260', '007460', '003060', '244920',
       '036570', '138250', '380440', '085310', '097520', '014440',
       '111770', '009970', '003520', '000670', '006740', '012280',
       '012160', '015360', '007310', '002630', '271560', '001800',
       '011690', '070960', '316140', '033660', '010050', '006980',
       '017370', '105840', '010400', '049800', '016880', '095720',
       '005820', '010600', '008600', '033270', '014830', '000910',
       '047400', '011330', '077500', '002920', '000700', '003470',
       '003475', '072130', '000220', '000225', '000227', '001200',
       '000100', '000105', '003460', '003465', '008730', '008250',
       '025820', '214320', '139480', '007660', '005950', '015020',
       '093230', '074610', '102460', '084680', '000760', '014990',
       '101140', '006490', '023800', '034590', '129260', '023810',
       '249420', '000230', '013360', '003120', '003200', '007110',
       '007570', '007575', '008500', '081000', '020760', '103590',
       '271940', '015860', '226320', '317400', '033240', '000950',
       '194370', '025620', '030000', '271980', '001560', '002620',
       '006220', '089590', '004910', '004700', '001550', '120030',
       '018470', '002600', '185750', '063160', '001630', '044380',
       '013890', '013870', '071320', '088790', '003780', '010640',
       '100250', '051630', '272450', '011000', '002780', '002787',
       '002785', '009310', '000650', '012600', '033250', '035720',
       '323410', '377300', '006380', '109070', '001620', '029460',
       '281820', '381970', '007815', '007810', '00781K', '003690',
       '192820', '044820', '005070', '005420', '071950', '002020',
       '003070', '003075', '144620', '002025', '120110', '120115',
       '138490', '021240', '036420', '031820', '192400', '284740',
       '264900', '26490K', '005740', '005745', '259960', '020120',
       '039490', '014580', '015890', '006890', '003240', '011280',
       '004100', '004105', '009410', '009415', '001420', '007980',
       '055490', '078000', '214420', '019180', '363280', '36328K',
       '091810', '004870', '005690', '036580', '004720', '028670',
       '010820', '016800', '001020', '090080', '010770', '058430',
       '047050', '003670', '007630', '017810', '103140', '005810',
       '009810', '086790', '293480', '039130', '352820', '071090',
       '019490', '000080', '000087', '000140', '000145', '036460',
       '005430', '071050', '071055', '010040', '025540', '010100',
       '004090', '002200', '002960', '000240', '123890', '015760',
       '006200', '027970', '023350', '025890', '000970', '104700',
       '017960', '161890', '024720', '161390', '034830', '007280',
       '047810', '123690', '003350', '011500', '002390', '053690',
       '042700', '008930', '128940', '009240', '020000', '003680',
       '105630', '069640', '016450', '010420', '009180', '213500',
       '014680', '004710', '004150', '025750', '004960', '011700',
       '001750', '001755', '018880', '009420', '014130', '300720',
       '002220', '006390', '003300', '051600', '052690', '130660',
       '002320', '003480', '180640', '18064K', '005110', '009460',
       '372910', '000880', '00088K', '088350', '000370', '009830',
       '009835', '272210', '012450', '042660', '000885', '003530',
       '003535', '195870', '101530', '143210', '000720', '000725',
       '086280', '064350', '079430', '012330', '010620', '069960',
       '004560', '004565', '004310', '017800', '307950', '011210',
       '004020', '005440', '005380', '005387', '005389', '005385',
       '001500', '011760', '227840', '126560', '001450', '057050',
       '093240', '003010', '111110', '008770', '008775', '002460',
       '378850', '241590', '006060', '013520', '010690', '133820',
       '010660', '000850', '016580', '032560', '004800', '094280',
       '298040', '298050', '298020', '298000', '093370', '081660',
       '005870', '079980', '005010', '000540', '000547', '000545',
       '003280'], dtype=object)

In [196]:
new_df = df.loc[df.티커.isin(contain_list)]
new_df

,티커,종목명,날짜,시가,고가,저가,종가,거래량,등락률,ABS_MOM,BPS,PER,PBR,시가총액
0,095570,AJ네트웍스,2015-08-21,6180.0,7300.0,5600.0,7100.0,1994022.0,NaN,NaN,NaN,NaN,NaN,NaN
1,095570,AJ네트웍스,2015-08-24,6700.0,6940.0,6240.0,6480.0,392831.0,-8.732394,0.000000,NaN,NaN,NaN,NaN
2,095570,AJ네트웍스,2015-08-25,6610.0,6730.0,6189.0,6220.0,242730.0,-4.012346,2.360024,NaN,NaN,NaN,NaN
3,095570,AJ네트웍스,2015-08-26,6260.0,7760.0,6260.0,7090.0,703721.0,13.987138,13.573006,NaN,NaN,NaN,NaN
4,095570,AJ네트웍스,2015-08-27,7239.0,8060.0,6960.0,7570.0,499913.0,6.770099,4.766974,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3785310,003280,흥아해운,2022-12-23,1505.0,1510.0,1450.0,1455.0,252745.0,-3.960396,-3.803694,428.0,13.77,3.80,3.906905e+11
3785311,003280,흥아해운,2022-12-26,1440.0,1445.0,1380.0,1410.0,226158.0,-3.092784,-2.906875,428.0,13.77,3.80,3.906905e+11
3785312,003280,흥아해운,2022-12-27,1410.0,1430.0,1375.0,1390.0,211506.0,-1.418440,-1.238906,428.0,13.77,3.80,3.906905e+11
3785313,003280,흥아해운,2022-12-28,1390.0,1410.0,1360.0,1385.0,146629.0,-0.359712,-0.171470,428.0,13.77,3.80,3.906905e+11
3785314,003280,흥아해운,2022-12-29,1385.0,1430.0,1330.0,1355.0,157217.0,-2.166065,-1.974947,428.0,11.48,3.17,3.257757e+11

In [197]:
new_df.to_pickle('C:/Users/kim56/anaconda3/Find-A/quant/Data/fundamental_data.p')
data = pd.read_pickle('C:/Users/kim56/anaconda3/Find-A/quant/Data/fundamental_data.p')
data

,티커,종목명,날짜,시가,고가,저가,종가,거래량,등락률,ABS_MOM,BPS,PER,PBR,시가총액
0,095570,AJ네트웍스,2015-08-21,6180.0,7300.0,5600.0,7100.0,1994022.0,NaN,NaN,NaN,NaN,NaN,NaN
1,095570,AJ네트웍스,2015-08-24,6700.0,6940.0,6240.0,6480.0,392831.0,-8.732394,0.000000,NaN,NaN,NaN,NaN
2,095570,AJ네트웍스,2015-08-25,6610.0,6730.0,6189.0,6220.0,242730.0,-4.012346,2.360024,NaN,NaN,NaN,NaN
3,095570,AJ네트웍스,2015-08-26,6260.0,7760.0,6260.0,7090.0,703721.0,13.987138,13.573006,NaN,NaN,NaN,NaN
4,095570,AJ네트웍스,2015-08-27,7239.0,8060.0,6960.0,7570.0,499913.0,6.770099,4.766974,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3785310,003280,흥아해운,2022-12-23,1505.0,1510.0,1450.0,1455.0,252745.0,-3.960396,-3.803694,428.0,13.77,3.80,3.906905e+11
3785311,003280,흥아해운,2022-12-26,1440.0,1445.0,1380.0,1410.0,226158.0,-3.092784,-2.906875,428.0,13.77,3.80,3.906905e+11
3785312,003280,흥아해운,2022-12-27,1410.0,1430.0,1375.0,1390.0,211506.0,-1.418440,-1.238906,428.0,13.77,3.80,3.906905e+11
3785313,003280,흥아해운,2022-12-28,1390.0,1410.0,1360.0,1385.0,146629.0,-0.359712,-0.171470,428.0,13.77,3.80,3.906905e+11
3785314,003280,흥아해운,2022-12-29,1385.0,1430.0,1330.0,1355.0,157217.0,-2.166065,-1.974947,428.0,11.48,3.17,3.257757e+11

In [180]:
df.loc[(df.티커 == '003280') & ~(df.시가총액.isna())]

,티커,종목명,날짜,시가,고가,저가,종가,거래량,등락률,ABS_MOM,BPS,PER,PBR,시가총액
3780388,003280,흥아해운,2003-01-30,2903.0,2981.0,2903.0,3024.0,730.0,2.997275,2.549912,730.0,1.17,9.18,5.628000e+09
3780389,003280,흥아해운,2003-02-03,3204.0,3204.0,2957.0,3067.0,3343.0,1.421958,0.930294,730.0,1.17,9.18,5.628000e+09
3780390,003280,흥아해운,2003-02-04,2911.0,3109.0,2911.0,3111.0,3211.0,1.434627,0.901965,730.0,1.17,9.18,5.628000e+09
3780391,003280,흥아해운,2003-02-05,3181.0,3567.0,2958.0,3573.0,55996.0,14.850530,13.721291,730.0,1.17,9.18,5.628000e+09
3780392,003280,흥아해운,2003-02-06,3613.0,3613.0,3072.0,3078.0,44151.0,-13.853904,-14.383818,730.0,1.17,9.18,5.628000e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3780610,003280,흥아해운,2003-12-23,5735.0,5917.0,5675.0,5695.0,2923.0,-2.997786,-3.374053,17229.0,0.70,0.67,9.702000e+09
3780611,003280,흥아해운,2003-12-24,5618.0,5618.0,5346.0,5420.0,5288.0,-4.828797,-5.183732,17229.0,0.70,0.67,9.702000e+09
3780612,003280,흥아해운,2003-12-26,5218.0,5664.0,5218.0,5552.0,1174.0,2.435424,2.071998,17229.0,0.70,0.67,9.702000e+09
3780613,003280,흥아해운,2003-12-29,5394.0,5562.0,5394.0,5552.0,5713.0,0.000000,-0.361949,17229.0,0.75,0.71,1.033200e+10
3780614,003280,흥아해운,2003-12-30,5498.0,5648.0,5414.0,5662.0,1815.0,1.981268,1.612763,17229.0,0.75,0.71,1.033200e+10

In [58]:
fundamental.to_pickle('C:/Users/kim56/anaconda3/Find-A/quant/Data/fundamental.p')

In [60]:
data = pd.read_pickle('C:/Users/kim56/anaconda3/Find-A/quant/Data/fundamental.p')
data

            티커         날짜    BPS    PER   PBR          시가총액
0       005760 2003-01-30     51   0.00  7.84   19269736800
1       015670 2003-01-30    312   0.00  1.86   18224951400
2       015675 2003-01-30      0   0.00  0.00    1668044900
3       004560 2003-01-30   4278  60.89  0.64   21320452380
4       004565 2003-01-30      0   0.00  0.00     417437600
...        ...        ...    ...    ...   ...           ...
207232  005010 2022-12-29  14549   5.65  0.35  284873540250
207233  000540 2022-12-29  10599   3.86  0.32  216497713650
207234  000547 2022-12-29      0   0.00  0.00    2488320000
207235  000545 2022-12-29      0   0.00  0.00    4723200000
207236  003280 2022-12-29    428  11.48  3.17  325775738145

[207237 rows x 6 columns]

In [61]:
stock_data = pd.read_csv('C:/Users/kim56/anaconda3/Find-A/quant/Data/kospi200_data.csv', index_col = 0, parse_dates=['날짜'], dtype = {'티커' : 'str'})
stock_data

,티커,종목명,날짜,시가,고가,저가,종가,거래량,등락률,ABS_MOM
0,282330,BGF리테일,2017-12-08,149500.0,194000.0,149500.0,194000.0,68343.0,NaN,NaN
1,282330,BGF리테일,2017-12-11,222000.0,249000.0,214000.0,248500.0,684631.0,28.092784,0.000000
2,282330,BGF리테일,2017-12-12,242500.0,246500.0,222500.0,235000.0,286513.0,-5.432596,-16.762690
3,282330,BGF리테일,2017-12-13,235000.0,242500.0,228000.0,235000.0,94609.0,0.000000,-7.553396
4,282330,BGF리테일,2017-12-14,236000.0,236500.0,221500.0,234000.0,118532.0,-0.425532,-5.984196
...,...,...,...,...,...,...,...,...,...,...
744498,145020,휴젤,2022-12-23,138800.0,140000.0,136600.0,138300.0,41991.0,-1.425517,-1.427121
744499,145020,휴젤,2022-12-26,138200.0,142400.0,138000.0,140500.0,45049.0,1.590745,1.589598
744500,145020,휴젤,2022-12-27,141500.0,142500.0,139900.0,141900.0,42388.0,0.996441,0.990572
744501,145020,휴젤,2022-12-28,141200.0,141800.0,138300.0,138500.0,47687.0,-2.396054,-2.401136
744502,145020,휴젤,2022-12-29,137400.0,137900.0,132600.0,134900.0,49630.0,-2.599278,-2.596144

In [86]:
df= pd.merge(stock_data, fundamental, how = 'left', on = ['티커', '날짜']).drop_duplicates()
df

,티커,종목명,날짜,시가,고가,저가,종가,거래량,등락률,ABS_MOM,BPS,PER,PBR,시가총액
0,282330,BGF리테일,2017-12-08,149500.0,194000.0,149500.0,194000.0,68343.0,NaN,NaN,NaN,NaN,NaN,NaN
1,282330,BGF리테일,2017-12-11,222000.0,249000.0,214000.0,248500.0,684631.0,28.092784,0.000000,NaN,NaN,NaN,NaN
2,282330,BGF리테일,2017-12-12,242500.0,246500.0,222500.0,235000.0,286513.0,-5.432596,-16.762690,NaN,NaN,NaN,NaN
3,282330,BGF리테일,2017-12-13,235000.0,242500.0,228000.0,235000.0,94609.0,0.000000,-7.553396,NaN,NaN,NaN,NaN
4,282330,BGF리테일,2017-12-14,236000.0,236500.0,221500.0,234000.0,118532.0,-0.425532,-5.984196,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
744498,145020,휴젤,2022-12-23,138800.0,140000.0,136600.0,138300.0,41991.0,-1.425517,-1.427121,NaN,NaN,NaN,NaN
744499,145020,휴젤,2022-12-26,138200.0,142400.0,138000.0,140500.0,45049.0,1.590745,1.589598,NaN,NaN,NaN,NaN
744500,145020,휴젤,2022-12-27,141500.0,142500.0,139900.0,141900.0,42388.0,0.996441,0.990572,NaN,NaN,NaN,NaN
744501,145020,휴젤,2022-12-28,141200.0,141800.0,138300.0,138500.0,47687.0,-2.396054,-2.401136,NaN,NaN,NaN,NaN
744502,145020,휴젤,2022-12-29,137400.0,137900.0,132600.0,134900.0,49630.0,-2.599278,-2.596144,NaN,NaN,NaN,NaN

In [88]:
drop_list = []
for ticker in df.티커.unique() : 
    if ticker not in fundamental.티커.unique() : 
        drop_list.append(ticker)

In [89]:
df.loc[~df.티커.isin(drop_list)]

,티커,종목명,날짜,시가,고가,저가,종가,거래량,등락률,ABS_MOM,BPS,PER,PBR,시가총액
0,282330,BGF리테일,2017-12-08,149500.0,194000.0,149500.0,194000.0,68343.0,NaN,NaN,NaN,NaN,NaN,NaN
1,282330,BGF리테일,2017-12-11,222000.0,249000.0,214000.0,248500.0,684631.0,28.092784,0.000000,NaN,NaN,NaN,NaN
2,282330,BGF리테일,2017-12-12,242500.0,246500.0,222500.0,235000.0,286513.0,-5.432596,-16.762690,NaN,NaN,NaN,NaN
3,282330,BGF리테일,2017-12-13,235000.0,242500.0,228000.0,235000.0,94609.0,0.000000,-7.553396,NaN,NaN,NaN,NaN
4,282330,BGF리테일,2017-12-14,236000.0,236500.0,221500.0,234000.0,118532.0,-0.425532,-5.984196,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
742766,081660,휠라홀딩스,2022-12-23,34100.0,35000.0,33900.0,34450.0,360537.0,1.472754,1.464576,NaN,NaN,NaN,NaN
742767,081660,휠라홀딩스,2022-12-26,34450.0,34600.0,34000.0,34500.0,138323.0,0.145138,0.132558,NaN,NaN,NaN,NaN
742768,081660,휠라홀딩스,2022-12-27,34500.0,35000.0,34300.0,34950.0,316271.0,1.304348,1.273898,NaN,NaN,NaN,NaN
742769,081660,휠라홀딩스,2022-12-28,34050.0,34250.0,33500.0,33550.0,180426.0,-4.005722,-4.021987,NaN,NaN,NaN,NaN
742770,081660,휠라홀딩스,2022-12-29,33300.0,33800.0,33050.0,33250.0,157191.0,-0.894188,-0.905759,26806.0,8.5,1.24,2.020011e+12

In [90]:
stock.get_market_cap('20221228', '20221229', '145020')

                     시가총액    거래량        거래대금     상장주식수
날짜
2022-12-28  1715385517500  47687  6659683700  12385455
2022-12-29  1670797879500  49630  6670294300  12385455

In [91]:
fundamental.loc[fundamental.티커 == '145020']

Empty DataFrame
Columns: [티커, 날짜, BPS, PER, PBR, 시가총액]
Index: []

In [65]:
stock_data_big = pd.read_csv('C:/Users/kim56/anaconda3/Find-A/quant/Data/mom_data.csv', index_col = 0, parse_dates=['날짜'], dtype = {'티커' : 'str'})
stock_data_big

,티커,종목명,날짜,시가,고가,저가,종가,거래량,등락률,ABS_MOM
0,060310,3S,2003-01-02,1037.0,1107.0,1007.0,1081.0,164270.0,7.135778,0.000000
1,060310,3S,2003-01-03,1095.0,1173.0,1095.0,1111.0,238965.0,2.775208,-2.180285
2,060310,3S,2003-01-06,1114.0,1132.0,1075.0,1119.0,144530.0,0.720072,-2.823614
3,060310,3S,2003-01-07,1138.0,1187.0,1095.0,1111.0,168800.0,-0.714924,-3.193958
4,060310,3S,2003-01-08,1101.0,1126.0,1074.0,1086.0,132570.0,-2.250225,-3.783407
...,...,...,...,...,...,...,...,...,...,...
4942,238490,힘스,2022-12-23,6050.0,6050.0,5950.0,6020.0,9421.0,-0.495868,-0.335925
4943,238490,힘스,2022-12-26,5940.0,6070.0,5860.0,5860.0,24368.0,-2.657807,-2.491430
4944,238490,힘스,2022-12-27,5940.0,5990.0,5860.0,5950.0,7276.0,1.535836,1.698196
4945,238490,힘스,2022-12-28,5880.0,5970.0,5870.0,5940.0,6909.0,-0.168067,0.008601
4946,238490,힘스,2022-12-29,5890.0,6100.0,5870.0,6060.0,10452.0,2.020202,2.181660

In [67]:
stock_data_big.to_pickle('C:/Users/kim56/anaconda3/Find-A/quant/Data/mom_data.p')
data = pd.read_pickle('C:/Users/kim56/anaconda3/Find-A/quant/Data/mom_data.p')
data

,티커,종목명,날짜,시가,고가,저가,종가,거래량,등락률,ABS_MOM
0,060310,3S,2003-01-02,1037.0,1107.0,1007.0,1081.0,164270.0,7.135778,0.000000
1,060310,3S,2003-01-03,1095.0,1173.0,1095.0,1111.0,238965.0,2.775208,-2.180285
2,060310,3S,2003-01-06,1114.0,1132.0,1075.0,1119.0,144530.0,0.720072,-2.823614
3,060310,3S,2003-01-07,1138.0,1187.0,1095.0,1111.0,168800.0,-0.714924,-3.193958
4,060310,3S,2003-01-08,1101.0,1126.0,1074.0,1086.0,132570.0,-2.250225,-3.783407
...,...,...,...,...,...,...,...,...,...,...
4942,238490,힘스,2022-12-23,6050.0,6050.0,5950.0,6020.0,9421.0,-0.495868,-0.335925
4943,238490,힘스,2022-12-26,5940.0,6070.0,5860.0,5860.0,24368.0,-2.657807,-2.491430
4944,238490,힘스,2022-12-27,5940.0,5990.0,5860.0,5950.0,7276.0,1.535836,1.698196
4945,238490,힘스,2022-12-28,5880.0,5970.0,5870.0,5940.0,6909.0,-0.168067,0.008601
4946,238490,힘스,2022-12-29,5890.0,6100.0,5870.0,6060.0,10452.0,2.020202,2.181660

In [182]:
stock.get_market_fundamental('20210101', '20210301', '00380')

Empty DataFrame
Columns: []
Index: []

In [70]:
stock_data.to_pickle('C:/Users/kim56/anaconda3/Find-A/quant/Data/kospi200_data.p')
data = pd.read_pickle('C:/Users/kim56/anaconda3/Find-A/quant/Data/kospi200_data.p')
data

,티커,종목명,날짜,시가,고가,저가,종가,거래량,등락률,ABS_MOM
0,282330,BGF리테일,2017-12-08,149500.0,194000.0,149500.0,194000.0,68343.0,NaN,NaN
1,282330,BGF리테일,2017-12-11,222000.0,249000.0,214000.0,248500.0,684631.0,28.092784,0.000000
2,282330,BGF리테일,2017-12-12,242500.0,246500.0,222500.0,235000.0,286513.0,-5.432596,-16.762690
3,282330,BGF리테일,2017-12-13,235000.0,242500.0,228000.0,235000.0,94609.0,0.000000,-7.553396
4,282330,BGF리테일,2017-12-14,236000.0,236500.0,221500.0,234000.0,118532.0,-0.425532,-5.984196
...,...,...,...,...,...,...,...,...,...,...
744498,145020,휴젤,2022-12-23,138800.0,140000.0,136600.0,138300.0,41991.0,-1.425517,-1.427121
744499,145020,휴젤,2022-12-26,138200.0,142400.0,138000.0,140500.0,45049.0,1.590745,1.589598
744500,145020,휴젤,2022-12-27,141500.0,142500.0,139900.0,141900.0,42388.0,0.996441,0.990572
744501,145020,휴젤,2022-12-28,141200.0,141800.0,138300.0,138500.0,47687.0,-2.396054,-2.401136
744502,145020,휴젤,2022-12-29,137400.0,137900.0,132600.0,134900.0,49630.0,-2.599278,-2.596144

In [37]:
cap = get_cap('20061201', '20070201')
cap

	Start to Load the Market Equity Data ...
		2006-12-28 completed.
		2007-01-31 completed.

          티커            시가총액         날짜
0     005930  90294493581000 2006-12-28
1     015760  27202470988800 2006-12-28
2     005490  26940732015000 2006-12-28
3     060000  25194795788400 2006-12-28
4     055550  18124461665000 2006-12-28
...      ...             ...        ...
1865  007595        49625000 2007-01-31
1866  002365        43664400 2007-01-31
1867  012805        34240000 2007-01-31
1868  001385        24651000 2007-01-31
1869  015545        22100000 2007-01-31

[3730 rows x 3 columns]

          티커         날짜    BPS    PER   PBR          시가총액
0     005760 2006-12-28   5624   7.99  1.04   35740643960
1     015670 2006-12-28    502   0.00  0.98   16627469880
2     015675 2006-12-28      0   0.00  0.00     145098195
3     004560 2006-12-28  13854   0.00  0.52  108567439200
4     004565 2006-12-28      0   0.00  0.00     618466760
...      ...        ...    ...    ...   ...           ...
1661  069260 2007-01-31   7484  22.19  1.15  183740743160
1662  000540 2007-01-31   5676   0.00  0.89  153340420190
1663  000545 2007-01-31      0   0.00  0.00    2810880000
1664  000547 2007-01-31      0   0.00  0.00    1121280000
1665  003280 2007-01-31   3047   2.50  0.61   44344114100

[1666 rows x 6 columns]

In [92]:
test = get_cap('20221101', '20230101')
test

	Start to Load the Market Equity Data ...
		2022-11-30 completed.
( 1.703 sec)
		2022-12-29 completed.
( 1.532 sec)

          티커             시가총액         날짜
0     005930  371320474610000 2022-11-30
1     373220  137358000000000 2022-11-30
2     207940   63131338000000 2022-11-30
3     000660   61880201025000 2022-11-30
4     051910   52238333820000 2022-11-30
...      ...              ...        ...
2685  215050       1934959392 2022-12-29
2686  288490       1831056000 2022-12-29
2687  267060       1654666524 2022-12-29
2688  267810       1572560000 2022-12-29
2689  322190       1044248049 2022-12-29

[5369 rows x 3 columns]

In [94]:
test.loc[test.티커 == '145020']

         티커           시가총액         날짜
191  145020  1415657506500 2022-11-30
161  145020  1670797879500 2022-12-29

In [11]:
get_fundamental_m('20210101', '20210301')

	Start to Load the Book Equity Data ...
		2021-01-29 completed.
		2021-02-26 completed.
	Start to Load the Market Equity Data ...
		2021-01-29 completed.
		2021-02-26 completed.

          티커            BE             ME     BE/ME         날짜
0     095570  3.182329e+11   187757402950  1.694915 2021-01-29
1     006840  8.337324e+11   383516890950  2.173913 2021-01-29
2     027410  1.498838e+12   659488689990  2.272727 2021-01-29
3     282330  6.225136e+11  2938264020000  0.211864 2021-01-29
4     138930  8.163196e+12  1795903205460  4.545455 2021-01-29
...      ...           ...            ...       ...        ...
1542  079980  3.926197e+11   278760000000  1.408451 2021-02-26
1543  005010  3.976717e+11    67604195160  5.882353 2021-02-26
1544  069260  6.546291e+11   936119665200  0.699301 2021-02-26
1545  000540  6.962297e+11   278491866075  2.500000 2021-02-26
1546  003280  3.238387e+10    30117000222  1.075269 2021-02-26

[1547 rows x 5 columns]

## Load Stock Price & Factor Data At Once

In [8]:
def get_stock_market_data(start, end):
    
    """ 특정 기간 동안의 KOSPI 시장 내의 모든 종목별 주가 데이터와 재무 데이터를 검색 """
    
    stock = get_all_stock_m(start, end)
    fundamental = get_fundamental_m(start, end)
    results =  pd.merge(stock, fundamental, on = ['티커', '날짜'])[['티커', '종목명', '날짜', '종가', 'BE', 'ME', 'BE/ME']]
    
    return results

In [104]:
stock_data = get_stock_market_data(start, end)
stock_data

           티커     종목명         날짜    종가            BE            ME     BE/ME
0      095570  AJ네트웍스 2021-08-31  5910  2.852781e+11  276719763450  1.030928
1      095570  AJ네트웍스 2021-09-30  5840  2.848356e+11  273442202800  1.041667
2      095570  AJ네트웍스 2021-10-29  5590  2.844963e+11  261736629050  1.086957
3      095570  AJ네트웍스 2021-11-30  5350  2.846583e+11  250499278250  1.136364
4      095570  AJ네트웍스 2021-12-29  5460  2.840553e+11  255649730700  1.111111
...       ...     ...        ...   ...           ...           ...       ...
18894  003280    흥아해운 2023-03-31  1379  1.029646e+11  331545935721  0.310559
18895  003280    흥아해운 2023-04-28  1306  1.029492e+11  313994918094  0.327869
18896  003280    흥아해운 2023-05-31  1352  1.305440e+11  325054463448  0.401606
18897  003280    흥아해운 2023-06-30  2100  1.308011e+11  504892287900  0.259067
18898  003280    흥아해운 2023-07-31  2060  1.306795e+11  495275291940  0.263852

[18899 rows x 7 columns]

In [106]:
stock_data.to_csv('./ff3_factor_data.csv') # csv 파일로 변환하여 로컬 저장소에 저장.

## 10년치 데이터 불러오기

- pykrx가 사설 라이브러리이기 때문에 과도하게 데이터를 불러올 시 krx 정보시스템에서 사용자를 차단하는 경우가 발생. 
- 이를 방지하기 위해 중간에 time.sleep(5)를 이용하여 5초 간격으로 1년치 데이터들을 불러올 예정임.
- 위에서 2년치 데이터의 경우 한번에 불러와도 차단하지 않은 것을 확인함.

In [7]:
# 특정기간 동안의 년도별 start와 end를 구하는 함수

def get_start_end_date(start_year : int, end_year : int):
    
    length = end_year - start_year + 1
    
    results = {}
    
    for year in range(start_year, end_year):
        start_date = str(year)+'0101'
        end_date = str(year) + '1231'
        results[year] = [start_date, end_date]
    return results

In [8]:
# 특정 기간 동안 년도별로 get_stock_market_data() 함수를 실행하여 제공하는 함수
def get_all_stock_market_data(start_year: int, end_year : int):
    
    results = pd.DataFrame() #pd.DataFrame(columns = ['티커', '종목명', '날짜', '종가', 'BE', 'ME', 'BE/ME'])
    
    date_index_dict = get_start_end_date(start_year, end_year)
    
    for year, values in date_index_dict.items() : 
        print('-'*50)
        print(f'* {year} year starts...')
        print('-'*50)
        start, end = values[0], values[1]
        stock_data = get_stock_market_data(start, end)
        
        results = pd.concat([results, stock_data], axis = 0)
        print('-'*50)
        if year == end_year - 1:
            print(f'* {year} year ended.')
        else : 
            print(f'* {year} year ended. Next is {year + 1} ...')
        time.sleep(5)
        
    return results

In [9]:
start_year = 2003
end_year = 2023
stock_datas = get_all_stock_market_data(start_year, end_year)
stock_datas

--------------------------------------------------
* 2003 year starts...
--------------------------------------------------
	Start to Load the Stock Price Data ...
		2003-01-30 completed.
		2003-02-28 completed.
		2003-03-31 completed.
		2003-04-30 completed.
		2003-05-30 completed.
		2003-06-30 completed.
		2003-07-31 completed.
		2003-08-29 completed.
		2003-09-30 completed.
		2003-10-31 completed.
		2003-11-28 completed.
		2003-12-29 completed.
	Start to Load the Book Equity Data ...
		2003-01-30 completed.
		2003-02-28 completed.
		2003-03-31 completed.
		2003-04-30 completed.
		2003-05-30 completed.
		2003-06-30 completed.
		2003-07-31 completed.
		2003-08-29 completed.
		2003-09-30 completed.
		2003-10-31 completed.
		2003-11-28 completed.
		2003-12-29 completed.
	Start to Load the Market Equity Data ...
		2003-01-30 completed.
		2003-02-28 completed.
		2003-03-31 completed.
		2003-04-30 completed.
		2003-05-30 completed.
		2003-06-30 completed.
		2003-07-31 completed.
		2003-08-29 completed.
		2003-09-30 completed.
		2003-10-31 completed.
		2003-11-28 completed.
		2003-12-29 completed.
--------------------------------------------------
* 2003 year ended. Next is 2004 ...
--------------------------------------------------
* 2004 year starts...
--------------------------------------------------
	Start to Load the Stock Price Data ...
		2004-01-30 completed.
		2004-02-27 completed.
		2004-03-31 completed.
		2004-04-30 completed.
		2004-05-31 completed.
		2004-06-30 completed.
		2004-07-30 completed.
		2004-08-31 completed.
		2004-09-30 completed.
		2004-10-29 completed.
		2004-11-30 completed.
		2004-12-29 completed.
	Start to Load the Book Equity Data ...
		2004-01-30 completed.
		2004-02-27 completed.
		2004-03-31 completed.
		2004-04-30 completed.
		2004-05-31 completed.
		2004-06-30 completed.
		2004-07-30 completed.
		2004-08-31 completed.
		2004-09-30 completed.
		2004-10-29 completed.
		2004-11-30 completed.
		2004-12-29 completed.
	Start to Load the Market Equity Data ...
		2004-01-30 completed.
		2004-02-27 completed.
		2004-03-31 completed.
		2004-04-30 completed.
		2004-05-31 completed.
		2004-06-30 completed.
		2004-07-30 completed.
		2004-08-31 completed.
		2004-09-30 completed.
		2004-10-29 completed.
		2004-11-30 completed.
		2004-12-29 completed.
--------------------------------------------------
* 2004 year ended. Next is 2005 ...
--------------------------------------------------
* 2005 year starts...
--------------------------------------------------
	Start to Load the Stock Price Data ...
		2005-01-31 completed.
		2005-02-28 completed.
		2005-03-31 completed.
		2005-04-29 completed.
		2005-05-31 completed.
		2005-06-30 completed.
		2005-07-29 completed.
		2005-08-31 completed.
		2005-09-30 completed.
		2005-10-31 completed.
		2005-11-30 completed.
		2005-12-29 completed.
	Start to Load the Book Equity Data ...
		2005-01-31 completed.
		2005-02-28 completed.
		2005-03-31 completed.
		2005-04-29 completed.
		2005-05-31 completed.
		2005-06-30 completed.
		2005-07-29 completed.
		2005-08-31 completed.
		2005-09-30 completed.
		2005-10-31 completed.
		2005-11-30 completed.
		2005-12-29 completed.
	Start to Load the Market Equity Data ...
		2005-01-31 completed.
		2005-02-28 completed.
		2005-03-31 completed.
		2005-04-29 completed.
		2005-05-31 completed.
		2005-06-30 completed.
		2005-07-29 completed.
		2005-08-31 completed.
		2005-09-30 completed.
		2005-10-31 completed.
		2005-11-30 completed.
		2005-12-29 completed.
--------------------------------------------------
* 2005 year ended. Next is 2006 ...
--------------------------------------------------
* 2006 year starts...
--------------------------------------------------
	Start to Load the Stock Price Data ...
		2006-01-31 completed.
		2006-02-28 completed.
		2006-03-31 completed.
		2006-04-28 completed.
		2006-05-31 completed.
		2006-06-30 completed.
		2006-07-31 completed.
		2006-08-31 completed.
		2006-09-29 completed.
		2006-10-31 completed.
		2006-11-30 completed.
		2006-12-29 completed.
	Start to Load the Book Equity Data ...
		2006-01-31 completed.
		2006-02-28 completed.
		2006-03-31 completed.
		2006-04-28 completed.
		2006-05-31 completed.
		2006-06-30 completed.
		2006-07-31 completed.
		2006-08-31 completed.
		2006-09-29 completed.
		2006-10-31 completed.
		2006-11-30 completed.
		2006-12-29 completed.
	Start to Load the Market Equity Data ...
		2006-01-31 completed.
		2006-02-28 completed.
		2006-03-31 completed.
		2006-04-28 completed.
		2006-05-31 completed.
		2006-06-30 completed.
		2006-07-31 completed.
		2006-08-31 completed.
		2006-09-29 completed.
		2006-10-31 completed.
		2006-11-30 completed.
		2006-12-29 completed.
--------------------------------------------------
* 2006 year ended. Next is 2007 ...
--------------------------------------------------
* 2007 year starts...
--------------------------------------------------
	Start to Load the Stock Price Data ...
		2007-01-31 completed.
		2007-02-28 completed.
		2007-03-30 completed.
		2007-04-30 completed.
		2007-05-31 completed.
		2007-06-29 completed.
		2007-07-31 completed.
		2007-08-31 completed.
		2007-09-28 completed.
		2007-10-31 completed.
		2007-11-30 completed.
		2007-12-28 completed.
	Start to Load the Book Equity Data ...
		2007-01-31 completed.
		2007-02-28 completed.
		2007-03-30 completed.
		2007-04-30 completed.
		2007-05-31 completed.
		2007-06-29 completed.
		2007-07-31 completed.
		2007-08-31 completed.
		2007-09-28 completed.
		2007-10-31 completed.
		2007-11-30 completed.
		2007-12-28 completed.
	Start to Load the Market Equity Data ...
		2007-01-31 completed.
		2007-02-28 completed.
		2007-03-30 completed.
		2007-04-30 completed.
		2007-05-31 completed.
		2007-06-29 completed.
		2007-07-31 completed.
		2007-08-31 completed.
		2007-09-28 completed.
		2007-10-31 completed.
		2007-11-30 completed.
		2007-12-28 completed.
--------------------------------------------------
* 2007 year ended. Next is 2008 ...
--------------------------------------------------
* 2008 year starts...
--------------------------------------------------
	Start to Load the Stock Price Data ...
		2008-01-31 completed.
		2008-02-29 completed.
		2008-03-31 completed.
		2008-04-30 completed.
		2008-05-30 completed.
		2008-06-30 completed.
		2008-07-31 completed.
		2008-08-29 completed.
		2008-09-30 completed.
		2008-10-31 completed.
		2008-11-28 completed.
		2008-12-29 completed.
	Start to Load the Book Equity Data ...
		2008-01-31 completed.
		2008-02-29 completed.
		2008-03-31 completed.
		2008-04-30 completed.
		2008-05-30 completed.
		2008-06-30 completed.
		2008-07-31 completed.
		2008-08-29 completed.
		2008-09-30 completed.
		2008-10-31 completed.
		2008-11-28 completed.
		2008-12-29 completed.
	Start to Load the Market Equity Data ...
		2008-01-31 completed.
		2008-02-29 completed.
		2008-03-31 completed.
		2008-04-30 completed.
		2008-05-30 completed.
		2008-06-30 completed.
		2008-07-31 completed.
		2008-08-29 completed.
		2008-09-30 completed.
		2008-10-31 completed.
		2008-11-28 completed.
		2008-12-29 completed.
--------------------------------------------------
* 2008 year ended. Next is 2009 ...
--------------------------------------------------
* 2009 year starts...
--------------------------------------------------
	Start to Load the Stock Price Data ...
		2009-01-30 completed.
		2009-02-27 completed.
		2009-03-31 completed.
		2009-04-30 completed.
		2009-05-29 completed.
		2009-06-30 completed.
		2009-07-31 completed.
		2009-08-31 completed.
		2009-09-30 completed.
		2009-10-30 completed.
		2009-11-30 completed.
		2009-12-29 completed.
	Start to Load the Book Equity Data ...
		2009-01-30 completed.
		2009-02-27 completed.
		2009-03-31 completed.
		2009-04-30 completed.
		2009-05-29 completed.
		2009-06-30 completed.
		2009-07-31 completed.
		2009-08-31 completed.
		2009-09-30 completed.
		2009-10-30 completed.
		2009-11-30 completed.
		2009-12-29 completed.
	Start to Load the Market Equity Data ...
		2009-01-30 completed.
		2009-02-27 completed.
		2009-03-31 completed.
		2009-04-30 completed.
		2009-05-29 completed.
		2009-06-30 completed.
		2009-07-31 completed.
		2009-08-31 completed.

		2009-09-30 completed.
		2009-10-30 completed.
		2009-11-30 completed.
		2009-12-29 completed.
--------------------------------------------------
* 2009 year ended. Next is 2010 ...
--------------------------------------------------
* 2010 year starts...
--------------------------------------------------
	Start to Load the Stock Price Data ...
		2010-01-29 completed.
		2010-02-26 completed.
		2010-03-31 completed.
		2010-04-30 completed.
		2010-05-31 completed.
		2010-06-30 completed.
		2010-07-30 completed.
		2010-08-31 completed.
		2010-09-30 completed.
		2010-10-29 completed.
		2010-11-30 completed.
		2010-12-29 completed.
	Start to Load the Book Equity Data ...
		2010-01-29 completed.
		2010-02-26 completed.
		2010-03-31 completed.
		2010-04-30 completed.
		2010-05-31 completed.
		2010-06-30 completed.
		2010-07-30 completed.
		2010-08-31 completed.
		2010-09-30 completed.
		2010-10-29 completed.
		2010-11-30 completed.
		2010-12-29 completed.
	Start to Load the Market Equity Data ...
		2010-01-29 completed.
		2010-02-26 completed.
		2010-03-31 completed.
		2010-04-30 completed.
		2010-05-31 completed.
		2010-06-30 completed.
		2010-07-30 completed.
		2010-08-31 completed.
		2010-09-30 completed.
		2010-10-29 completed.
		2010-11-30 completed.
		2010-12-29 completed.
--------------------------------------------------
* 2010 year ended. Next is 2011 ...
--------------------------------------------------
* 2011 year starts...
--------------------------------------------------
	Start to Load the Stock Price Data ...
		2011-01-31 completed.
		2011-02-28 completed.
		2011-03-31 completed.
		2011-04-29 completed.
		2011-05-31 completed.
		2011-06-30 completed.
		2011-07-29 completed.
		2011-08-31 completed.
		2011-09-30 completed.
		2011-10-31 completed.
		2011-11-30 completed.
		2011-12-29 completed.
	Start to Load the Book Equity Data ...
		2011-01-31 completed.
		2011-02-28 completed.
		2011-03-31 completed.
		2011-04-29 completed.
		2011-05-31 completed.
		2011-06-30 completed.
		2011-07-29 completed.
		2011-08-31 completed.
		2011-09-30 completed.
		2011-10-31 completed.
		2011-11-30 completed.
		2011-12-29 completed.
	Start to Load the Market Equity Data ...
		2011-01-31 completed.
		2011-02-28 completed.
		2011-03-31 completed.
		2011-04-29 completed.
		2011-05-31 completed.
		2011-06-30 completed.
		2011-07-29 completed.
		2011-08-31 completed.
		2011-09-30 completed.
		2011-10-31 completed.
		2011-11-30 completed.
		2011-12-29 completed.
--------------------------------------------------
* 2011 year ended. Next is 2012 ...
--------------------------------------------------
* 2012 year starts...
--------------------------------------------------
	Start to Load the Stock Price Data ...
		2012-01-31 completed.
		2012-02-29 completed.
		2012-03-30 completed.
		2012-04-30 completed.
		2012-05-31 completed.
		2012-06-29 completed.
		2012-07-31 completed.
		2012-08-31 completed.
		2012-09-28 completed.
		2012-10-31 completed.
		2012-11-30 completed.
		2012-12-28 completed.
	Start to Load the Book Equity Data ...
		2012-01-31 completed.
		2012-02-29 completed.
		2012-03-30 completed.
		2012-04-30 completed.
		2012-05-31 completed.
		2012-06-29 completed.
		2012-07-31 completed.
		2012-08-31 completed.
		2012-09-28 completed.
		2012-10-31 completed.
		2012-11-30 completed.
		2012-12-28 completed.
	Start to Load the Market Equity Data ...
		2012-01-31 completed.
		2012-02-29 completed.
		2012-03-30 completed.
		2012-04-30 completed.
		2012-05-31 completed.
		2012-06-29 completed.
		2012-07-31 completed.
		2012-08-31 completed.
		2012-09-28 completed.
		2012-10-31 completed.
		2012-11-30 completed.
		2012-12-28 completed.
--------------------------------------------------
* 2012 year ended. Next is 2013 ...
--------------------------------------------------
* 2013 year starts...
--------------------------------------------------
	Start to Load the Stock Price Data ...
		2013-01-31 completed.
		2013-02-28 completed.
		2013-03-29 completed.
		2013-04-30 completed.
		2013-05-31 completed.
		2013-06-28 completed.
		2013-07-31 completed.
		2013-08-30 completed.
		2013-09-30 completed.
		2013-10-31 completed.
		2013-11-29 completed.
		2013-12-27 completed.
	Start to Load the Book Equity Data ...
		2013-01-31 completed.
		2013-02-28 completed.
		2013-03-29 completed.
		2013-04-30 completed.
		2013-05-31 completed.
		2013-06-28 completed.
		2013-07-31 completed.
		2013-08-30 completed.
		2013-09-30 completed.
		2013-10-31 completed.
		2013-11-29 completed.
		2013-12-27 completed.
	Start to Load the Market Equity Data ...
		2013-01-31 completed.
		2013-02-28 completed.
		2013-03-29 completed.
		2013-04-30 completed.
		2013-05-31 completed.
		2013-06-28 completed.
		2013-07-31 completed.
		2013-08-30 completed.
		2013-09-30 completed.
		2013-10-31 completed.
		2013-11-29 completed.
		2013-12-27 completed.
--------------------------------------------------
* 2013 year ended. Next is 2014 ...
--------------------------------------------------
* 2014 year starts...
--------------------------------------------------
	Start to Load the Stock Price Data ...
		2014-01-29 completed.
		2014-02-28 completed.
		2014-03-31 completed.
		2014-04-30 completed.
		2014-05-30 completed.
		2014-06-30 completed.
		2014-07-31 completed.
		2014-08-29 completed.
		2014-09-30 completed.
		2014-10-31 completed.
		2014-11-28 completed.
		2014-12-29 completed.
	Start to Load the Book Equity Data ...
		2014-01-29 completed.
		2014-02-28 completed.
		2014-03-31 completed.
		2014-04-30 completed.
		2014-05-30 completed.
		2014-06-30 completed.
		2014-07-31 completed.
		2014-08-29 completed.
		2014-09-30 completed.
		2014-10-31 completed.
		2014-11-28 completed.
		2014-12-29 completed.
	Start to Load the Market Equity Data ...
		2014-01-29 completed.
		2014-02-28 completed.
		2014-03-31 completed.
		2014-04-30 completed.
		2014-05-30 completed.
		2014-06-30 completed.
		2014-07-31 completed.
		2014-08-29 completed.
		2014-09-30 completed.
		2014-10-31 completed.
		2014-11-28 completed.
		2014-12-29 completed.
--------------------------------------------------
* 2014 year ended. Next is 2015 ...
--------------------------------------------------
* 2015 year starts...
--------------------------------------------------
	Start to Load the Stock Price Data ...
		2015-01-30 completed.
		2015-02-27 completed.
		2015-03-31 completed.
		2015-04-30 completed.
		2015-05-29 completed.
		2015-06-30 completed.
		2015-07-31 completed.
		2015-08-31 completed.
		2015-09-30 completed.
		2015-10-30 completed.
		2015-11-30 completed.
		2015-12-29 completed.
	Start to Load the Book Equity Data ...
		2015-01-30 completed.
		2015-02-27 completed.
		2015-03-31 completed.
		2015-04-30 completed.
		2015-05-29 completed.
		2015-06-30 completed.
		2015-07-31 completed.
		2015-08-31 completed.
		2015-09-30 completed.
		2015-10-30 completed.
		2015-11-30 completed.
		2015-12-29 completed.
	Start to Load the Market Equity Data ...
		2015-01-30 completed.
		2015-02-27 completed.
		2015-03-31 completed.
		2015-04-30 completed.
		2015-05-29 completed.
		2015-06-30 completed.
		2015-07-31 completed.
		2015-08-31 completed.
		2015-09-30 completed.
		2015-10-30 completed.
		2015-11-30 completed.
		2015-12-29 completed.
--------------------------------------------------
* 2015 year ended. Next is 2016 ...
--------------------------------------------------
* 2016 year starts...
--------------------------------------------------
	Start to Load the Stock Price Data ...
		2016-01-29 completed.
		2016-02-29 completed.
		2016-03-31 completed.
		2016-04-29 completed.
		2016-05-31 completed.
		2016-06-30 completed.
		2016-07-29 completed.
		2016-08-31 completed.
		2016-09-30 completed.
		2016-10-31 completed.
		2016-11-30 completed.
		2016-12-29 completed.
	Start to Load the Book Equity Data ...
		2016-01-29 completed.
		2016-02-29 completed.
		2016-03-31 completed.
		2016-04-29 completed.
		2016-05-31 completed.
		2016-06-30 completed.
		2016-07-29 completed.
		2016-08-31 completed.
		2016-09-30 completed.
		2016-10-31 completed.
		2016-11-30 completed.
		2016-12-29 completed.
	Start to Load the Market Equity Data ...
		2016-01-29 completed.

		2016-02-29 completed.
		2016-03-31 completed.
		2016-04-29 completed.
		2016-05-31 completed.
		2016-06-30 completed.
		2016-07-29 completed.
		2016-08-31 completed.
		2016-09-30 completed.
		2016-10-31 completed.
		2016-11-30 completed.
		2016-12-29 completed.
--------------------------------------------------
* 2016 year ended. Next is 2017 ...
--------------------------------------------------
* 2017 year starts...
--------------------------------------------------
	Start to Load the Stock Price Data ...
		2017-01-31 completed.
		2017-02-28 completed.
		2017-03-31 completed.
		2017-04-28 completed.
		2017-05-31 completed.
		2017-06-30 completed.
		2017-07-31 completed.
		2017-08-31 completed.
		2017-09-29 completed.
		2017-10-31 completed.
		2017-11-30 completed.
		2017-12-29 completed.
	Start to Load the Book Equity Data ...
		2017-01-31 completed.
		2017-02-28 completed.
		2017-03-31 completed.
		2017-04-28 completed.
		2017-05-31 completed.
		2017-06-30 completed.
		2017-07-31 completed.
		2017-08-31 completed.
		2017-09-29 completed.
		2017-10-31 completed.
		2017-11-30 completed.
		2017-12-29 completed.
	Start to Load the Market Equity Data ...
		2017-01-31 completed.
		2017-02-28 completed.
		2017-03-31 completed.
		2017-04-28 completed.
		2017-05-31 completed.
		2017-06-30 completed.
		2017-07-31 completed.
		2017-08-31 completed.
		2017-09-29 completed.
		2017-10-31 completed.
		2017-11-30 completed.
		2017-12-29 completed.
--------------------------------------------------
* 2017 year ended. Next is 2018 ...
--------------------------------------------------
* 2018 year starts...
--------------------------------------------------
	Start to Load the Stock Price Data ...
		2018-01-31 completed.
		2018-02-28 completed.
		2018-03-30 completed.
		2018-04-30 completed.
		2018-05-31 completed.
		2018-06-29 completed.
		2018-07-31 completed.
		2018-08-31 completed.
		2018-09-28 completed.
		2018-10-31 completed.
		2018-11-30 completed.
		2018-12-28 completed.
	Start to Load the Book Equity Data ...
		2018-01-31 completed.
		2018-02-28 completed.
		2018-03-30 completed.
		2018-04-30 completed.
		2018-05-31 completed.
		2018-06-29 completed.
		2018-07-31 completed.
		2018-08-31 completed.
		2018-09-28 completed.
		2018-10-31 completed.
		2018-11-30 completed.
		2018-12-28 completed.
	Start to Load the Market Equity Data ...
		2018-01-31 completed.
		2018-02-28 completed.
		2018-03-30 completed.
		2018-04-30 completed.
		2018-05-31 completed.
		2018-06-29 completed.
		2018-07-31 completed.
		2018-08-31 completed.
		2018-09-28 completed.
		2018-10-31 completed.
		2018-11-30 completed.
		2018-12-28 completed.
--------------------------------------------------
* 2018 year ended. Next is 2019 ...
--------------------------------------------------
* 2019 year starts...
--------------------------------------------------
	Start to Load the Stock Price Data ...
		2019-01-31 completed.
		2019-02-28 completed.
		2019-03-29 completed.
		2019-04-30 completed.
		2019-05-31 completed.
		2019-06-28 completed.
		2019-07-31 completed.
		2019-08-30 completed.
		2019-09-30 completed.
		2019-10-31 completed.
		2019-11-29 completed.
		2019-12-27 completed.
	Start to Load the Book Equity Data ...
		2019-01-31 completed.
		2019-02-28 completed.
		2019-03-29 completed.
		2019-04-30 completed.
		2019-05-31 completed.
		2019-06-28 completed.
		2019-07-31 completed.
		2019-08-30 completed.
		2019-09-30 completed.
		2019-10-31 completed.
		2019-11-29 completed.
		2019-12-27 completed.
	Start to Load the Market Equity Data ...
		2019-01-31 completed.
		2019-02-28 completed.
		2019-03-29 completed.
		2019-04-30 completed.
		2019-05-31 completed.
		2019-06-28 completed.
		2019-07-31 completed.
		2019-08-30 completed.
		2019-09-30 completed.
		2019-10-31 completed.
		2019-11-29 completed.
		2019-12-27 completed.
--------------------------------------------------
* 2019 year ended. Next is 2020 ...
--------------------------------------------------
* 2020 year starts...
--------------------------------------------------
	Start to Load the Stock Price Data ...
		2020-01-31 completed.
		2020-02-28 completed.
		2020-03-31 completed.
		2020-04-29 completed.
		2020-05-29 completed.
		2020-06-30 completed.
		2020-07-31 completed.
		2020-08-31 completed.
		2020-09-29 completed.
		2020-10-30 completed.
		2020-11-30 completed.
		2020-12-29 completed.
	Start to Load the Book Equity Data ...
		2020-01-31 completed.
		2020-02-28 completed.
		2020-03-31 completed.
		2020-04-29 completed.
		2020-05-29 completed.
		2020-06-30 completed.
		2020-07-31 completed.
		2020-08-31 completed.
		2020-09-29 completed.
		2020-10-30 completed.
		2020-11-30 completed.
		2020-12-29 completed.
	Start to Load the Market Equity Data ...
		2020-01-31 completed.
		2020-02-28 completed.
		2020-03-31 completed.
		2020-04-29 completed.
		2020-05-29 completed.
		2020-06-30 completed.
		2020-07-31 completed.
		2020-08-31 completed.
		2020-09-29 completed.
		2020-10-30 completed.
		2020-11-30 completed.
		2020-12-29 completed.
--------------------------------------------------
* 2020 year ended. Next is 2021 ...
--------------------------------------------------
* 2021 year starts...
--------------------------------------------------
	Start to Load the Stock Price Data ...
		2021-01-29 completed.
		2021-02-26 completed.
		2021-03-31 completed.
		2021-04-30 completed.
		2021-05-31 completed.
		2021-06-30 completed.
		2021-07-30 completed.
		2021-08-31 completed.
		2021-09-30 completed.
		2021-10-29 completed.
		2021-11-30 completed.
		2021-12-29 completed.
	Start to Load the Book Equity Data ...
		2021-01-29 completed.
		2021-02-26 completed.
		2021-03-31 completed.
		2021-04-30 completed.
		2021-05-31 completed.
		2021-06-30 completed.
		2021-07-30 completed.
		2021-08-31 completed.
		2021-09-30 completed.
		2021-10-29 completed.
		2021-11-30 completed.
		2021-12-29 completed.
	Start to Load the Market Equity Data ...
		2021-01-29 completed.
		2021-02-26 completed.
		2021-03-31 completed.
		2021-04-30 completed.
		2021-05-31 completed.
		2021-06-30 completed.
		2021-07-30 completed.
		2021-08-31 completed.
		2021-09-30 completed.
		2021-10-29 completed.
		2021-11-30 completed.
		2021-12-29 completed.
--------------------------------------------------
* 2021 year ended. Next is 2022 ...
--------------------------------------------------
* 2022 year starts...
--------------------------------------------------
	Start to Load the Stock Price Data ...
		2022-01-28 completed.
		2022-02-28 completed.
		2022-03-31 completed.
		2022-04-29 completed.
		2022-05-31 completed.
		2022-06-30 completed.
		2022-07-29 completed.
		2022-08-31 completed.
		2022-09-30 completed.
		2022-10-31 completed.
		2022-11-30 completed.
		2022-12-29 completed.
	Start to Load the Book Equity Data ...
		2022-01-28 completed.
		2022-02-28 completed.
		2022-03-31 completed.
		2022-04-29 completed.
		2022-05-31 completed.
		2022-06-30 completed.
		2022-07-29 completed.
		2022-08-31 completed.
		2022-09-30 completed.
		2022-10-31 completed.
		2022-11-30 completed.
		2022-12-29 completed.
	Start to Load the Market Equity Data ...
		2022-01-28 completed.
		2022-02-28 completed.
		2022-03-31 completed.
		2022-04-29 completed.
		2022-05-31 completed.
		2022-06-30 completed.
		2022-07-29 completed.
		2022-08-31 completed.
		2022-09-30 completed.
		2022-10-31 completed.
		2022-11-30 completed.
		2022-12-29 completed.
--------------------------------------------------
* 2022 year ended.

          티커      종목명         날짜     종가            BE             ME     BE/ME
0     005760  위너스인프라인 2003-01-30    400  2.457875e+09    19269736800  0.127551
1     005760  위너스인프라인 2003-02-28    430  2.327524e+10    20714967060  1.123596
2     005760  위너스인프라인 2003-03-31    400  2.349968e+10    19269736800  1.219512
3     005760  위너스인프라인 2003-04-30    405  2.322691e+10    19510608510  1.190476
4     005760  위너스인프라인 2003-05-30    415  2.324692e+10    19992351930  1.162791
...      ...      ...        ...    ...           ...            ...       ...
9473  403550       쏘카 2022-11-30  19150  1.716976e+11   626696235800  0.273973
9474  403550       쏘카 2022-12-29  21750  1.715140e+11   711782931000  0.240964
9475  108320    LX세미콘 2022-11-30  87700  8.013366e+11  1426379110000  0.561798
9476  108320    LX세미콘 2022-12-29  71700  7.987331e+11  1166150310000  0.684932
9477  377740    바이오노트 2022-12-29   8580  1.387455e+12   874096491840  1.587302

[168906 rows x 7 columns]

In [10]:
stock_datas = stock_datas.sort_values(by = ['종목명', '날짜'], ignore_index= True)
stock_datas

            티커     종목명         날짜     종가            BE            ME     BE/ME
0       095570  AJ네트웍스 2015-08-31  33500  2.224889e+11  313709376500  0.709220
1       095570  AJ네트웍스 2015-09-30  43850  2.219630e+11  410631527150  0.540541
2       095570  AJ네트웍스 2015-10-30  47400  2.219377e+11  443875356600  0.500000
3       095570  AJ네트웍스 2015-11-30  42100  2.214852e+11  394243723900  0.561798
4       095570  AJ네트웍스 2015-12-29  46550  2.224059e+11  435915566450  0.510204
...        ...     ...        ...    ...           ...           ...       ...
168901  003280    흥아해운 2022-08-31   1705  1.029961e+11  409924452795  0.251256
168902  003280    흥아해운 2022-09-30   1230  1.030392e+11  295722625770  0.348432
168903  003280    흥아해운 2022-10-31   1420  1.028323e+11  341403356580  0.301205
168904  003280    흥아해운 2022-11-30   1625  1.028133e+11  390690460875  0.263158
168905  003280    흥아해운 2022-12-29   1355  1.027684e+11  325775738145  0.315457

[168906 rows x 7 columns]

In [11]:
stock_datas.to_csv('./ff3_factor_datas.csv') # csv 파일로 변환하여 로컬 저장소에 저장.

In [12]:
ss_adjx = stock.get_market_ohlcv('20180101', '20190101', '005930', adjusted = False)
ss_adjo = stock.get_market_ohlcv('20180101', '20190101', '005930')

In [5]:
ss_fd = stock.get_market_fundamental('20180101', '20190101', '005930')

In [6]:
ss_fd # 여기서 pbr = 수정x주가 / 수정xBPS 이다. 따라서 모든 행에 수정주가 / 수정x주가 를 곱해주면 표준화된 pbr을 얻는다.

                BPS    PER   PBR     EPS   DIV    DPS
날짜
2018-01-02  1156530  16.15  2.21  157967  1.12  28500
2018-01-03  1156530  16.34  2.23  157967  1.10  28500
2018-01-04  1156530  16.17  2.21  157967  1.12  28500
2018-01-05  1156530  16.50  2.25  157967  1.09  28500
2018-01-08  1156530  16.47  2.25  157967  1.10  28500
...             ...    ...   ...     ...   ...    ...
2018-12-21    28126   6.44  1.37    5997  2.20    850
2018-12-24    28126   6.47  1.38    5997  2.19    850
2018-12-26    28126   6.39  1.36    5997  2.22    850
2018-12-27    28126   6.38  1.36    5997  2.22    850
2018-12-28    28126   6.45  1.38    5997  2.20    850

[244 rows x 6 columns]

In [35]:
#네이버금융 PBR 산정 기준 : 보통주수정주가 / BPS
std_coef = ss_adjo['종가'] / ss_adjx['종가']

adj_pbr = ss_adjo['종가'] / (ss_fd['BPS'] * std_coef* 50)